@mixin mQ($arg) {
    @media screen and (max-width: $arg) {
        @content;
    }
}

@mixin row-column{
    display: flex;
	flex-direction: row;
	padding: 10px 24px;
	width: 100%;
	margin-top: 96px;
    h2{
        line-height: 1.2;
        margin-bottom: 24px;
    }
    .description-container{
        padding-right: 24px;
    }
}

@mixin column-img{
	width: 50%;
}

@mixin column-description{
	flex-direction: column;
	justify-content: center;
	width: 50%;
}

@mixin responsive{
    flex-direction: column;
    width: 100%;
}

@mixin h4Preset {
    margin-bottom: 12px;
    font-family: 'Reggae One', cursive;
    color: $primaryColor;
}