@import "mixins";
@import "variables";

/*SASS mixins meida query can be included in a class name suing this:
li{
    @include mQ(600px){
        width: 100%;
    }
}*/

html {
    scroll-behavior: smooth;
}
@font-face{
	font-family: ViceCitySans;
	src:url(../fonts/ViceCitySans.otf);
}

@font-face {
    font-family: 'Conthrax';
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/conthrax-sb.ttf);
}

/*General styling*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: $bgColor;
    max-width: 1440px;
    margin: auto;
    color: #fff;
    font-family: 'Rubik', sans-serif;
  }
  
h1 {
    font-size: clamp(2rem, 3.5vw, 3.5rem);
}
  
h2 {
    font-size: clamp(1.72rem, 3vw, 2.5rem);
}
  
h4 {
    font-size: clamp(20px, 2.5vw, 24px);
}
h1, h2, h3{
    font-family: 'Cinzel', serif;
    color: $primaryColor;
    -webkit-text-stroke: 0.1px $borderTextColor;
    text-transform: uppercase;
    font-weight: 500;
}
a{
    text-decoration: none;
    color: #fff;
}
.btn{
    padding: 15px 40px;
    // border-style: solid;
    // border-width: 2;
    // border-image: linear-gradient(45deg, rgba(255, 184, 0, 1), rgba(198, 162, 72, 1));
    border: 2px solid rgba(255, 184, 0, 1);
    border-radius: 24px 8px;
    background: linear-gradient(90deg, rgba(32, 191, 183, 0.2) 8%, rgba(191, 249, 146, 0.186) 58.79%, rgba(32, 191, 183, 0.2) 100%), #20BFB7;
    transition: 0.3s;
    height: 54px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pushable {
  background: #1b3752;
  border: none;
  border-radius: 8px;
  padding: 0;
  cursor: pointer;
}
.pushable:hover .front {
    transform: translateY(-8px);
}
.pushable:active .front {
    transform: translateY(-4px);
}
.front {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 40px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: normal !important;
    background: linear-gradient(190deg, #00ffff 20%, #336699 100%);
    color: white;
    transform: translateY(-6px);
    will-change: transform;
    transition: transform 250ms;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}


.pushable:focus:not(:focus-visible) {
  outline: none;
}
p{
    font-size: 18px;
    color: #fff;
    line-height: 1.4;
    font-weight: 500;
}
li{
    list-style: none;
    font-size: 18px;
    color: #fff;
    line-height: 1.4;
    font-weight: 500;
}
/*=======HEADER AND NAVBAR SECTION STYLING======*/
.token-address{
    width: 100%;
    padding: 24px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(68, 23, 1, 1);
    height: 24px;
    overflow: hidden;
}

/*========NAVIGATION STYLING========*/
/*========NAVIGATION STYLING========*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    position: fixed;
    z-index: 99999999;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, #02010A 0%, rgba(2, 1, 10, 0.78) 28.12%, rgba(2, 1, 10, 0.03) 100%);
}
.logo {
    width: 80px;
    height: auto;
    margin-top: 12px;
}
.hamburger{
    display: none;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Cinzel', serif;
    font-weight: normal;
    margin-top: 12px;
}
.nav-item{
    margin-left: 3rem;
}
.nav-link{
    font-weight: 400;
    color: #fff;
    &:hover{
        color: $secondaryColor;
    }
}
.nav-cta{
    margin-top: 12px;
}

@media only screen and (max-width: 1040px) {
    .navbar{
        background: linear-gradient(180deg, #02010A 10%, rgba(2, 1, 10, 0.78) 28.12%, rgba(2, 1, 10, 0.03) 100%);
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 99999999999;
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 3.3rem;
        height: 100%;
        flex-direction: column;
        background-color: $bgColor;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        z-index: 99999999999;
    }

    .nav-menu.active {
        left: 0;
        z-index: 99999999999;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
}

/*=======END OF NAVBAR STYLING======*/

/*=======HEADER SECTION STYLING======*/
.header-section{
    // background: transparent url('../images/background-new.png') no-repeat center;
    background-size: cover;
    max-width: 1440px;
    margin: auto;
    position: relative;
}
.available-img{
    width: 80%;
    margin: auto;
    margin-bottom: 48px;
}
.hero-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 24px;
    position: absolute;
    top: 50%;

    .logo-text{
        max-width: 550px;
        height: auto;
        
    }
}
.hero-img{
    position: relative;
    height: 50%;
    margin-top: 20px;
    // background: transparent;
    width: 100vw;
}
.cta-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2{
        margin-bottom: 24px;
    }
    
    .cta-links{
        .cta-icon{
            font-size: 32px;
            margin-right: 12px;
        }
        display: flex;
        flex-direction: row;
        button.exception{
            margin-right: 24px;
        }
    }
}

@media (max-width: 1040px){
    .hero-img{
        margin-top: 20%;
    }
}
@media only screen and (max-width: 940px) {
    .hero-img{
        height: 60%;
    }
}

@media (max-width: 375px) {
    .hero-details {
        top:40%;
    }
    .cta-links{
        .cta-icon{
            font-size: 24px;
            margin-right: 8px;
        }
    }
}



@media only screen and (max-width: 600px) {
    .cta-container{
        .btn{
            padding: 10px 30px;
            height: 48px;
        }
    }
    .front {
        padding: 10px 30px;
        border-radius: 12px;
    }
}
@media (max-width: 430px){
    .front{
        padding: 10px 20px;
    }
}
@media only screen and (max-width: 400px) {
    .available-img{
        width: 90%;
        margin-bottom: 24px;
    }

    .cta-container{     
        .cta-links{
            .cta-icon{
                font-size: 24px;
            }
        }
    }
}

/*=======END OF HEADER SECTION STYLING======*/




/*=========OVERVIEW-HOMEPAGE-SECTION=======*/

/*========END OF HOMEPAGE-OVERVIEW SECTION======*/

.overview-section{
    @include row-column;
    margin-top: unset;
    justify-content: center;
    background: url('../images/overview-bg.png') no-repeat center;
    background-size: cover;
    height: auto;
    padding: 24px;
    .description-container{
        @include column-description;
        margin-right: 48px;
        background-color: rgba(2, 1, 10, 0.8);
        position: relative;
        padding-right: unset;
        height: auto;
        clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%, 0 10%);
        .overview-text{
            background-color: $secondaryColor;
            padding: 12px;
            width: 100%;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            .pre-h2{
                font-family: 'Conthrax', sans-serif;
                position: absolute;
                top: 15px;
                background: unset;
                color: rgba(2, 1, 10, 0.37);
                -webkit-text-fill-color: unset;
                margin-left: 2px;
            }
            .initial-h2{
                font-family: 'Conthrax', sans-serif;
                background: linear-gradient(9deg, aqua 7%, white 80%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                // text-shadow: 0 6px 6px $bgColor;
                margin-bottom: unset;
                position: relative;
                z-index: 1;
            }
            
        }
        
        .explainer-paragraph{
            padding: 12px 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        p{
            margin-bottom: 24px;
            font-weight: 400;
            text-align: center;
        }
        .front{
            padding: 15px 30px;
        }
    }
    .image-container{
        background: url('../images/video-frame.png') no-repeat;
        background-size: contain;
        background-position: center;
        height: 450px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
        video{
            width: fit-content;
            max-height: 340px;
            border-radius: 12px;
            margin-bottom: 36px;
        }
    }
}

@media only screen and (max-width: 700px){
	.overview-section{
        @include responsive;
        margin-top: 12px;
        .description-container, .image-container{
            width: 100%;
            padding-right: unset;
        }
        
        .description-container{
            margin-top: 48px;
            margin-left: unset;
            a{
                margin-bottom: 24px;
            }
        }
        .image-container{
            width: 100%;
            margin: auto;
            height: 450px;
            video{
                width: 90%;
                max-height: 310px;
                border-radius: 12px;
            }
        }

    }
    
}

@media (max-width: 470px){
    .overview-section{
        .description-container{
            .overview-text{
                padding: 24px;
                .pre-h2{
                    top: 26px;
                }       
            }
        }
    }   
}

/*=========HOMEPAGE GAMEPLAY SECTION STYLING========*/
.gameplay-section{
    margin-top: 96px;
    h2{
        text-align: center;
    }
    a{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 48px;
    }
}


.gameplay-wrapper{
    margin-top: 48px;
    .container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
        gap: 24px;
        place-items: center;
    }
    
}

/*.image-container{
    border-radius: 12px;
    @include column-img;
    img{
        width: 100%;
        height: auto;
        border-radius: 12px
    }
}
.description-container{
    @include column-description;
    margin-left: 48px;
    .gameplay-btn{
        float: right;
    }
    .gameplay-item{
        display: flex;
        flex-direction: row;
        margin-bottom: 48px;
        width: 100%;
        .img-icon{
            width: 20%;
            height: auto;
            margin-right: 24px;
            img{
                width: 80%;
            }
        }
        
        .text-description{
            display: flex;
            flex-direction: column;
            width: 80%;
        }
    }
    h4{
        text-transform: uppercase;
        line-height: 1.2;
        font-family: 'Cinzel', serif;
        color: $primaryColor;
        margin-bottom: 12px;
    }
}
}

/*@media only screen and (max-width: 900px){
.gameplay-section{
    .description-container{
        .gameplay-item{
            .img-icon{
                width: 30%;
                height: auto;
                margin-right: 12px;
                img{
                    width: 100%;
                }
            }
            
            .text-description{
                width: 70%;
            }
        }
    }
}

}
@media only screen and (max-width: 700px){
.gameplay-section{
    .gameplay-wrapper{
        @include responsive;
        margin-top: 24px;

        .description-container, .image-container{
            width: 100%;
            padding-right: unset;
        }
    }
    .description-container{
        margin-top: 48px;
        margin-left: unset;
        .gameplay-item{
            .img-icon{
                width: 20%;
                height: auto;
                margin-right: 24px;
            }
        }
    }

}

}


@media only screen and (max-width: 400px){
.gameplay-section{
    .description-container{
        .gameplay-btn{
           float: unset;
           margin: auto;
           display: flex;
           justify-content: center;
        }
        .front-padding{
            padding: 15px 30px;
        }
    }
    .gameplay-wrapper{
        .gameplay-item{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            text-align: center;
            .img-icon{
                width: 30%;
                height: auto;
                margin-bottom: 12px;
                img{
                    max-width: 80%;
                    height: auto;
                }
            }
            
            .text-description{
                width: 100%;
            }
        }
    }
}*/
.gameplay-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(2, 1, 10, 0.8);
    border: 2px solid $secondaryColor;
    max-width: 350px;
    padding: 12px;
    height: 400px;
    text-align: center;
    // clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%, 0 20%);
    .img-icon{
        align-self: center;
        margin-bottom: 24px;
    }

    h4{
        margin-bottom: 12px;
        text-transform: uppercase;
        line-height: 1.2;
        font-family: 'Cinzel', serif;
        color: $primaryColor;
    }
}
/*=========END OF HOMEPAGE GAMEPLAY SECTION STYLING========*/


/*==========ROAADMAP SECTION STYLING========*/
.roadmap-section{
    margin-top: 96px;
    padding: 0 15px;
    margin-bottom: 48px;
    h2{
        text-align: center;
        margin-bottom: 48px;
    }
}
.roadmap-container{
    /* The actual timeline (the vertical ruler) */
    .timeline {
        position: relative;
        max-width: 900px;
        margin: 0 auto;
    }
    
    /* The actual timeline (the vertical ruler) */
    .timeline::after {
        content: '';
        position: absolute;
        width: 2px;
        background-color: rgba(198, 162, 72, 1);;
        top: 0;
        bottom: 0;
        left: 50%;
        margin-left: -3px;
    }
    
    /* Container around content */
    .container {
        padding: 10px 40px;
        position: relative;
        background-color: inherit;
        width: 50%;
    }
    
    /* The circles on the timeline */
    .container::after {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        right: -12px;
        background-color: #20BFB7;
        border: 4px solid #327572;
        top: 15px;
        border-radius: 50%;
        z-index: 1;
    }
    
    /* Place the container to the left */
    .left {
        left: 0;
    }
    
    /* Place the container to the right */
    .right {
        left: 50%;
    }
    
    /* Add arrows to the left container (pointing right) */
    .left::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        right: 30px;
        border: medium solid rgba(198, 162, 72, 1);;
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent rgba(198, 162, 72, 1);;
    }
    
    /* Add arrows to the right container (pointing left) */
    .right::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        left: 30px;
        border: medium solid rgba(198, 162, 72, 1);
        border-width: 10px 10px 10px 0;
        border-color: transparent rgba(198, 162, 72, 1) transparent transparent;
    }
    
    /* Fix the circle for containers on the right side */
    .right::after {
        left: -16px;
    }
    
    /* The actual content */
    .item {
        position: relative;
    }
}
@media screen and (max-width: 600px) {
    .roadmap-container{
        /* Place the timelime to the left */
        .timeline::after {
            left: 31px;
        }
            
        /* Full-width containers */
        .container {
            width: 100%;
            padding-left: 70px;
            padding-right: 25px;
        }
            
        /* Make sure that all arrows are pointing leftwards */
        .container::before {
            left: 60px;
            border: medium solid rgba(198, 162, 72, 1);
            border-width: 10px 10px 10px 0;
            border-color: transparent rgba(198, 162, 72, 1) transparent transparent;
        }
        
        /* Make sure all circles are at the same spot */
        .left::after, .right::after {
            left: 15px;
        }
            
        /* Make all right containers behave like the left ones */
        .right {
            left: 0%;
        }
    }
}
  

.roadmap-wrapper{
    max-width: 380px;
    height: auto;
    background-color: $bgColor;
    border: 1px solid $borderColor;
    border-radius: 12px;
    padding: 12px;
    .roadmap-number{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 24px 0;
    }
    img{
        width: 100px !important;
        height: auto;
    }

    .roadmap-item{
        margin-top: 48px;
        h4{
            margin-bottom: 24px;
            color: $primaryColor;
        }
        .roadmap-list{
            margin-bottom: 12px;
        }
        li{
            margin-bottom: 24px;
            display: flex;
            align-items: center;
            color: #fff;
            img{
                margin-right: 12px;
                padding: 8px;
                width: 35px !important;
            }
        }
    }
}
.kinuverse-section{
    padding: 0 15px;
}
.kinuverse-wrapper{
    background: url('../images/meta-bg.jpg') no-repeat center;
    height: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
        margin-bottom: 24px;
    }
}


/*======FOOTER SECTION STYLING=====*/
footer{
    margin-top: 96px;
    height: 400px;
    position: relative;
}
.footer-container{
    display: flex;
    justify-content: center;
    .footer-content{
        flex: 1;
        padding: 24px;
        h4{
            font-family: 'Cinzel', serif;
            text-transform: uppercase;
            margin-bottom: 24px;
        }
        li{
            margin-bottom: 12px;
            a{
                transition: all 0.3s;
                &:hover{
                    color: $secondaryColor;
                    transition: all 0.3s;
                }
            }
        }
    }
    .footer-logo{
        width: 100%;
        min-width: 200px;
    }
}

@media only screen and (max-width: 780px){
    footer{
        height: auto;
    }
    .footer-container{
        flex-flow: row wrap;
        padding-left: 12px;
        padding-bottom: 12px;
        .footer-conten{
            flex: 0;
        }
    }
}



.character-section{
    position: relative;
    margin-bottom: 48px;

    h2{
        text-align: center;
        margin-bottom: 24px;
    }
    .next, .prev{
        width: 36px;
        height: auto;
    }
}
.splide__arrow{
    background: unset !important;
}
.character-container{
    padding: 24px;
    .splide__slide__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    img{
        max-width: 500px;
        height: auto;
        object-fit: cover;
        object-position: center;
    }
    h2{
        margin-top: 24px;
        font-size: 48px;
        font-size: ViceCitySans !important;
    }
    h4{
        color: $secondaryColor;
        margin-top: -8px;
    }
    ul.splide__pagination{
        display: none;
    }
}

@media (max-width: 500px){
    .character-container{
        img{
            max-width: 300px;
            height: auto;
        }
    }
}


/*=======OVERVIEW PAGE STYLING======*/
.page-wrapper{
    padding: 0 36px;
    margin-top: 60px;
}
@media only screen and (max-width: 700px) {
    .page-wrapper{
        padding: 0 24px;
    }
}
.overview-banner__container{
    width: 100%;
    height: 360px;
    background: url('../images/overview-bg.png') no-repeat center;
    background-size: cover;
    .details-container{
        display: flex;
        justify-content: center;
        h1{
            margin-top: 150px;
        }
    }
}

/*------INTRO SECTION WRAPPER-----*/
.intro-section{
    margin-top: 72px;
    .wrapper{
        h2{
            margin-bottom: 12px;
        }
    }
}

/*------GAME DEVELOPMENT SECTION STYLING-----*/
.gameDev-section{
    margin: 72px 0;
    h2{
        margin-bottom: 12px;
    }
    p{
        margin-bottom: 24px;
    }
    .cta-gameplay{
        display: flex;
        justify-content: center;
        margin: 48px;
    }
}
.gameplay-item{
    margin-top: 12px;
    .gameplay-list{
        margin-bottom: 12px;
    }
    li{
        margin-bottom: 24px;
        display: flex;
        align-items: center;
        color: #fff;
        img{
            margin-right: 12px;
            padding: 8px;
            width: 35px !important;
        }
    }
}


/*======TEAM WEBPAGE STYLING-======*/
.team-banner__container{
    width: 100%;
    height: 360px;
    background: url('../images/token-bg.png') no-repeat center;
    background-size: cover;
    .details-container{
        display: flex;
        justify-content: center;
        h1{
            margin-top: 150px;
        }
    }
}
.team-section{
    margin-bottom: 72px;
}


/*========GAMEPLAY WEBPAGE STYLING======*/
.game-overview__section{
    @include row-column;
    .description-container{
        @include column-description;
        h2{
            width: 80%;
            line-height: 1.2;
        }
        p{
            margin-bottom: 36px;
        }
    }
    .image-container{
        @include column-img;
        img{
            width: 100%;
            height: 400px;
            object-fit: cover;
            object-position: center;
            border-radius: 12px;
        }
    }
}

@media only screen and (max-width: 700px){
	.game-overview__section{
        @include responsive;

        .description-container, .image-container{
            width: 100%;
            padding-right: unset;
        }
        .description-container h2{
            width: 100%;
        }
        .image-container{
            margin-top: 48px;
        }
    }
}

/*-------PLAYER SECTION STYLING------*/
.player-section{
    margin-top: 96px;
    @include row-column;
        margin-top: 48px;
    .image-container{
        @include column-img;
        img{
            width: 100%;
            height: auto;
            border-radius: 12px
        }
    }
    .description-container{
        @include column-description;
        margin-left: 48px;
    }
}

@media only screen and (max-width: 700px){
	.player-section{
        flex-direction: column-reverse;
        width: 100%;
        margin-top: 24px;

        .description-container, .image-container{
            width: 100%;
            padding-right: unset;
        }
        .description-container{
            margin-top: 48px;
            margin-bottom: 24px;
            margin-left: unset;
        }

    }
    
}


/*-------development-section STYLING-----*/
.development-section{
    margin-top: 96px;
    padding: 0 24px;
    h2{
        text-align: center;
        margin-bottom: 12px;
    }
    p{
        margin-bottom: 24px;
    }
}


/*=======TOKEN METRICS WEBPAGE STYLING======*/
.token-banner__container{
    width: 100%;
    height: 360px;
    background: url('../images/token-bg.png') no-repeat center;
    background-size: cover;
    .details-container{
        display: flex;
        justify-content: center;
        h1{
            margin-top: 150px;
            text-align: center;
        }
    }
}

.token-section{
    margin-top: 72px 0;
    h2{
        text-align: center;
        margin-bottom: 24px;
        margin-top: 72px;
    }
}

.token-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
    .token-details{
        width: 50%;
        height: auto;
        border: 2px solid $borderColor;
        border-radius: 12px;
        padding: 12px;
        h4{
            text-align: center;
            @include h4Preset;
        }
        .detail{
            display: flex;
            // justify-content: center;
            border-bottom: 1px solid #2E281C;
            margin-bottom: 12px;
            padding: 8px;
            .aside{
                margin-left: auto;
            }
        }
    }
}

.task-section{
    margin: 72px 0;
    h4{
        @include h4Preset;
    }
    p{
        margin-bottom: 24px;
    }
}
.task-item{
    margin-top: 12px;
    max-width: 800px;
    .task-list{
        margin-bottom: 12px;
    }
    li{
        margin-bottom: 24px;
        display: flex;
        align-items: center;
        color: #fff;
        img{
            margin-right: 12px;
            padding: 8px;
            width: 35px !important;
        }
    }
}


@media only screen and (max-width: 860px){
    .token-wrapper{
        flex-direction: column;
        align-items: center;
        .token-details{
            width: 70%;
        }
    }
}

@media only screen and (max-width: 500px){
    .token-wrapper{
        .token-details{
            width: 100%;
        }
    }
}


/*========MANGA COMICS WEBPAGE STYLING=======*/
.manga-banner__container{
    width: 100%;
    height: 360px;
    background: url('../images/manga-bg.png') no-repeat center;
    background-size: cover;
    .details-container{
        display: flex;
        justify-content: center;
        padding: 0 12px;
        h1{
            margin-top: 145px;
            text-align: center;
            max-width: 600px;
            margin: 145px auto 0;
            line-height: 1.2;
        }
    }
}

.nft-section{
    margin-top: 72px;
    h2{
        text-transform: none;
        margin-bottom: 24px;
        max-width: 900px;
        line-height: 1.2;
    }

    p{
        margin-bottom: 24px;
    }
}

.task-item{
    .task-list{
        a{
            text-decoration: underline;
            color: $secondaryColor;
            transition: all 0.3s;
            &:hover{
                color: #018b85;
                transition: all 0.3s;
            }
        }
    }
    
}