@import "mixins";
@import "variables";

/*SASS mixins meida query can be included in a class name suing this:
li{
    @include mQ(600px){
        width: 100%;
    }
}*/

html {
    scroll-behavior: smooth;
}
@font-face{
	font-family: ViceCitySans;
	src:url(../fonts/ViceCitySans.otf);
}

@font-face {
    font-family: 'Conthrax';
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/conthrax-sb.ttf);
}

/*General styling*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: $bgColor;
    // max-width: 1440px;
    margin: auto;
    color: #fff;
    font-family: ViceCitySans;
    width: 100%;
  }
.alt-bg{
    background-color: #02010A;
}
h1 {
    font-size: clamp(2rem, 3.5vw, 3.5rem);
}
  
h2 {
    font-size: clamp(1.72rem, 3vw, 2.5rem);
}
  
h4 {
    font-size: clamp(20px, 2.5vw, 24px);
}
h1, h2, h3{
    font-family: 'Cinzel', serif;
    color: $primaryColor;
    text-transform: uppercase;
    font-weight: 500;
}
a{
    text-decoration: none;
    color: #fff;
}
button{
    color: #fff;
}
.pointer-cursor{
    cursor: pointer;
}
.button-img{
    width: 220px;
    height: auto;
    position: relative;
    padding: 12px;

}

.button-text{
    position: absolute;
}
.heading-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading-background{
    max-width: 400px;
    height: auto;
    position: relative;
    padding: 12px;
    color: $headingText;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading-text{
    position: absolute;
    color: $headingText;
}
@media(max-width: 600px){
    .heading-background{
        max-width: 250px;
        height: auto;
    }
    .heading-text{
        font-size: 24px;
    }
}
.btn{
    padding: 20px 40px;
    background: url('../images/button.png') no-repeat center;
    background-size: contain;
    transition: 0.3s;
    border: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
}

.pushable {
    background: #1b3752;
    border: none;
    border-radius: 8px;
    padding: 0;
    cursor: pointer;
  }
  
  .pushable:hover .front {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  
  .pushable:active .front {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
  
  .front {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px 40px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: normal !important;
    background: linear-gradient(190deg, #00ffff 20%, #336699 100%);
    color: white;
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    will-change: transform;
    -webkit-transition: -webkit-transform 250ms;
    transition: -webkit-transform 250ms;
    transition: transform 250ms;
    transition: transform 250ms, -webkit-transform 250ms;
    font-family: ViceCitySans;
    font-weight: 500;
  }
  
  .pushable:focus:not(:focus-visible) {
    outline: none;
  }

p{
    font-size: 16px;
    color: #fff;
    line-height: 1.4;
    font-weight: 500;
}
li{
    list-style: none;
    font-size: 18px;
    color: #fff;
    line-height: 1.4;
    font-weight: 500;
}
.border-radius{
    border-radius: 12px;
}
.margin-center{
    max-width: 900px;
    margin: auto;
}

/*=======HEADER AND NAVBAR SECTION STYLING======*/
.token-address{
    width: 100%;
    padding: 24px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(68, 23, 1, 1);
    height: 24px;
    overflow: hidden;
}

/*========NAVIGATION STYLING========*/
/*========NAVIGATION STYLING========*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    position: fixed;
    z-index: 99999999;
    width: 100%;
    top: 0;
    left: 0;
    font-family: inherit;
    background: linear-gradient(180deg, #02010A 0%, rgba(2, 1, 10, 0.78) 28.12%, rgba(2, 1, 10, 0.03) 100%);
}
.logo {
    width: 120px;
    height: auto;
    margin-top: 12px;
}
@media (max-width: 360px){
    .logo {
    width: 80px;
  }
}
.hamburger{
    display: none;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Cinzel', serif;
    font-weight: normal;
    margin-top: 12px;
}
.nav-item{
    margin-left: 3rem;
}
.nav-link{
    font-weight: 400;
    color: #fff;
    &:hover{
        color: $secondaryColor;
    }
}

@media only screen and (max-width: 1040px) {
    .navbar{
        background: linear-gradient(180deg, #02010A 10%, rgba(2, 1, 10, 0.78) 28.12%, rgba(2, 1, 10, 0.03) 100%);
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 99999999999;
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 3.3rem;
        height: 100%;
        flex-direction: column;
        background-color: $bgColor;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        z-index: 99999999999;
        justify-content: unset;
    }

    .nav-menu.active {
        left: 0;
        z-index: 99999999999;
        height: 100vh;
        margin-top: -50px;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        img{
            width: 50px;
            height: auto;
        }
    }
    .hamburger.active img{
        display: none;
    }
    .hamburger.active::after{
        content: url('../images/close-sm-btn.png');
        width: 20px;
        height: auto;
        position: relative;
        z-index: 9999999999999;
    }
}

/*=======END OF NAVBAR STYLING======*/

/*=======HEADER SECTION STYLING======*/
.header-section{
    background-size: cover;
    max-width: 1440px;
    margin: auto;
    position: relative;
}
.available-img{
    width: 80%;
    margin: auto;
    margin-bottom: 48px;
    position: relative;
    z-index: 1;
}
.hero-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 24px;
    position: absolute;
    top: 50%;

    .logo-text{
        max-width: 550px;
        height: auto;
        
    }
}
.hero-img{
    position: relative;
    height: 50%;
    width: 100%;
}
img.mobile{
    display: none;
}
.cta-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
    h2{
        margin-bottom: 24px;
    }
    
    .cta-links{
        .cta-icon{
            font-size: 32px;
            margin-right: 12px;
        }
        display: flex;
        flex-direction: row;
        button.exception{
            margin-right: 24px;
        }
    }
}

.fire-group{
    img{
        height: 200px;
        width: auto;
        position: absolute;
    }
    .left-fire {
        top: 70%;
        left: 10px;
    }
    .right-fire {
        right: 1%;
        top: -0%;
    }
}

@media (max-width: 1280px){
    .fire-group{
        img{
            height: 150px;
        }
        .left-fire {
            top: 70%;
            left: 10px;
        }
        .right-fire {
            right: 1%;
            top: 70%;
        }
    }
}

@media only screen and (max-width: 940px) {
    .hero-img{
        height: 60%;
    }
    .fire-group{
        img{
            height: 120px;
        }
        .left-fire {
            top: 60%;
            left: 10px;
        }
        .right-fire {
            right: 1%;
            top: 60%;
        }
    }
}

@media (max-width: 850px){
    .fire-group{
        .left-fire {
            top: 50%;
            left: 10px;
        }
        .right-fire {
            right: 1%;
            top: 45%;
        }
    }
}

@media only screen and (max-width: 600px) {
    .cta-container{
        .front {
            padding: 10px 30px;
            border-radius: 12px;
        }
    }
    .fire-group{
        img{
            height: 100px;
        }
        .left-fire {
            top: 40%;
            left: 10px;
        }
        .right-fire {
            right: 1%;
            top: 30%;
        }
    }
}

@media (max-width: 550px){
    img.desktop{
        display: none;
    }
    img.mobile{
        display: block;
    }
    .hero-details{
        top: 55%;
        padding: 12px;
        .available-img{
            width: 100%;
        }
    }
    .fire-group{
        img{
            height: 100px;
            width: auto;
            position: absolute;
        }
        .left-fire {
            top: 50%;
            left: -40px;
        }
        .right-fire {
            top: 40%;
        }
    }
    
}


@media (max-width: 430px){
    .cta-container{
        .front{
            padding: 10px 20px;
        }
    }
    .pushable, .front{
        border-radius: 8px;
    }
}


@media only screen and (max-width: 400px) {
    .available-img{
        width: 90%;
        margin-bottom: 24px;
    }

    .cta-container{     
        .cta-links{
            .cta-icon{
                font-size: 24px;
            }
        }
    }
}

@media (max-width: 375px) {
    .cta-links{
        .cta-icon{
            font-size: 24px;
            margin-right: 8px;
        }
    }
    .fire-group{
        .left-fire {
            top: 30%;
            left: -40px;
        }
        .right-fire {
            top: 30%;
        }
    }
}

/*=======END OF HEADER SECTION STYLING======*/




/*=========OVERVIEW-HOMEPAGE-SECTION=======*/

.overview-section{
    @include row-column;
    margin-top: unset;
    justify-content: center;
    background: url('../images/overview-bg.png') no-repeat center;
    background-size: cover;
    height: auto;
    padding: 24px;
    .description-container{
        @include column-description;
        display: flex;
        align-items: flex-start;
        
        .overview-intro-p{
            font-size: 24px;
            max-width: 500px;
            font-weight: 500;
            text-align: left;
        }
        button{
            color: #fff;
            margin-top: 24px;
        }
        .btn{
            background: url('../images/button-lg.png') no-repeat center;
            background-size: contain;
        }
        
        
    }
    
    .image-container{
        @include column-img;
        h2{
            position: relative;
            text-align: center;
            color: $headingText;
            top: 20%;
        }
        .video-container{
            background: url('../images/video-frame.png') no-repeat center;
            background-size: contain;
            width: 100%;
            height: 500px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        video{
            width: 65%;
            margin-top: 12px;
            margin-left: 12px;
        }
    }
}
.floating{
    animation: floating 3s ease-in-out infinite;
}
@keyframes floating {

    0% { transform: translate(0,  0px); }

    50%  { transform: translate(0, 15px); }

    100%   { transform: translate(0, -0px); }    
}
.overview-modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    padding-bottom: 12px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-wrapper{
    background: #222;
    padding: 24px;
    max-width: 700px;
    height: auto;
    margin: auto;
    header{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .heading-background{
        max-width: 300px;
    }
    
    .heading-text{
        font-family: $secondaryFont;
        text-transform: none;
        color: $headingText;
        margin-top: 24px;
    }
    .close img{
        align-self: flex-end;
        width: 30px;
        height: auto;
        margin-left: 60px;
        cursor: pointer;
            &:hover,
            &:focus {
            cursor: pointer;
            transition: 0.3s;
        }
    }
    .overview-main{
        h4{
            color: $secondaryColor;
            font-size: 24px;
            margin-bottom: 12px;
            margin-top: 36px;
        }
        p{
            font-family: $primaryFont;
            font-size: 14px;
            margin-bottom: 24px;
        }
    }

    .gameplay-potential{
        font-family: $primaryFont;
        font-size: 14px;
        font-weight: 600;
        div{
            padding: 12px;
        }
        .potential-list{
            background-color: #fff;
            margin-bottom: 24px;
        }
        .upper{
            color: #000;
        }
        .lower{
            background-color: #FD5200;
        }
    }
}

@media (min-width: 1280px){
    .overview-section{
        .description-container{        
            .overview-intro-p{
                font-size: 28px;
            } 
        }
    }
}


@media only screen and (max-width: 800px){
	.overview-section{
        @include responsive;
        margin-top: unset;
        padding: unset;
        .description-container, .image-container{
            width: 100%;
            padding-right: unset;
        }
        
        .description-container{
            margin-top: 48px;
            margin-left: unset;
            padding: 24px;
            a{
                margin-bottom: 24px;
            }
        }
        .image-container{
            width: 100%;
            margin: auto;
            height: 450px;
            video{
                max-height: 310px;
            }
        }

    }
    
}

@media (max-width: 750px){
    .modal-wrapper{
        width: 70%;
        .close img{
            margin-left: 55px;
        }
    }
}

@media (max-width: 600px){
    .modal-wrapper{
        width: 80%;
        .heading-background{
            max-width: 200px;
        }
    }
}

@media (max-width: 550px){
    .overview-section{
        .description-container{
            .overview-intro-p{
                font-size: 18px;
                line-height: 1.2;
            }
        }
        .image-container{
            h2{
                top: 25%;
            }
            .video-container {
                background-size: 120%;
                width: 100%;
                height: 500px;
            }
            video {
                width: 80%;
                margin-top: 12px;
                margin-left: 12px;
            }
        }
    }
}

@media (max-width: 450px){
    .overview-section{
        .image-container{
            h2{
                top: 30%;
            }
        }
    }
}

@media(max-width: 430px){
    .modal-wrapper{
        width: 90%;
        .close img{
            margin-left: 20px;
        }
    }
}

@media (max-width: 400px){
    .overview-section{
        .image-container{
            h2{
                top: 35%;
            }
        }
    }
}

/*========END OF HOMEPAGE-OVERVIEW SECTION======*/
.audio-player{
    display: flex;
    align-items: center;
    position: fixed;
    right: 0;
    bottom: 12px;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.4);
    padding: 12px;
    .prompt-text{
        font-size: 12px !important;
        margin-right: 8px;
    }
    .player{
        width: 36px;
        height: auto;
        cursor: pointer;  
    }
}


/*=========HOMEPAGE GAMEPLAY SECTION STYLING========*/
.gameplay-section{
    margin-top: 96px;
    h2{
        text-align: center;
    }
    a{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 48px;
    }
}


.gameplay-wrapper{
    margin-top: 48px;
    .container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 24px;
        place-items: center;
        padding: 12px;
    }
    .margin-bottom{
        margin-bottom: 24px;
    }
    
}

.gameplay-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: radial-gradient(63.26% 63.26% at 50% 48.78%, rgba(184, 134, 11, 0.3) 0%, rgba(52, 39, 5, 0.3) 100%);;
    border: 2px solid $borderColor;
    border-radius: 24px;
    max-width: 350px;
    padding: 12px;
    height: 480px;
    text-align: center;
    .img-icon{
        align-self: center;
        margin-bottom: 24px;
    }
    img.gif-img{
        width: 50%;
        height: auto;
    }
    img.kinu-img{
        width: 60%;
        height: auto;
    }
    .gif-background{
        background: url('../images/paper-bg.png') no-repeat center;
        background-size: contain;
        height: auto;
    }
    .text-description{
        padding: 24px;
    }
    h4{
        margin-bottom: 12px;
        line-height: 1.2;
        font-family: $secondaryFont;
        color: #fff;
        font-size: 32px;
    }
    p{
        font-family: $primaryFont;
    }
    h4, p{
        text-align: left;
    }
}

@media only screen and (max-width: 600px) {
    .gameplay-wraper{
        .front {
            padding: 15px 30px;
            border-radius: 8px;
        }
    }
}
/*=========END OF HOMEPAGE GAMEPLAY SECTION STYLING========*/


/*==========ROAADMAP SECTION STYLING========*/
.roadmap-section{
    margin-top: 96px;
    padding: 0 15px;
    margin-bottom: 48px;
    h2{
        text-align: center;
    }
}
.roadmap-container{
    /* The actual timeline (the vertical ruler) */
    .timeline {
        position: relative;
        max-width: 900px;
        margin: 0 auto;
    }
    
    /* The actual timeline (the vertical ruler) */
    .timeline::after {
        content: '';
        position: absolute;
        width: 2px;
        background-color: $borderColor;
        top: 0;
        bottom: 0;
        left: 50%;
        margin-left: -3px;
    }
    
    /* Container around content */
    .container {
        padding: 10px 40px;
        position: relative;
        background-color: inherit;
        width: 50%;
    }
    
    /* The circles on the timeline */
    .container::after {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        right: -12px;
        background-color: $accentColor;
        border: 4px solid #B8860B;
        top: 15px;
        border-radius: 50%;
        z-index: 1;
    }
    
    /* Place the container to the left */
    .left {
        left: 0;
    }
    
    /* Place the container to the right */
    .right {
        left: 50%;
    }
    
    /* Add arrows to the left container (pointing right) */
    .left::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        right: 30px;
        border: medium solid $borderColor;
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent $borderColor;
    }
    
    /* Add arrows to the right container (pointing left) */
    .right::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        left: 30px;
        border: medium solid $borderColor;
        border-width: 10px 10px 10px 0;
        border-color: transparent $borderColor transparent transparent;
    }
    
    /* Fix the circle for containers on the right side */
    .right::after {
        left: -16px;
    }
    
    /* The actual content */
    .item {
        position: relative;
    }
}
@media screen and (max-width: 600px) {
    .roadmap-container{
        /* Place the timelime to the left */
        .timeline::after {
            left: 31px;
        }
            
        /* Full-width containers */
        .container {
            width: 100%;
            padding-left: 70px;
            padding-right: 25px;
        }
            
        /* Make sure that all arrows are pointing leftwards */
        .container::before {
            left: 60px;
            border: medium solid $borderColor;
            border-width: 10px 10px 10px 0;
            border-color: transparent $borderColor transparent transparent;
        }
        
        /* Make sure all circles are at the same spot */
        .left::after, .right::after {
            left: 15px;
        }
            
        /* Make all right containers behave like the left ones */
        .right {
            left: 0%;
        }
    }
}
  
@media (max-width: 360px){
    .timeline::after{
        display: none;
    }
    .container::after{
        display: none;
    }
    .roadmap-container{
        .container{
            padding: unset;
        }
        .left::before, .right::before{
            display: none;
        }
    }
    .item{
        margin-top: 24px;
    }
    
}
.roadmap-wrapper{
    max-width: 380px;
    height: auto;
    background-color: $bgColor;
    border: 1px solid $borderColor;
    border-radius: 12px;
    padding: 12px;
    .roadmap-number{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 24px 0;
    }
    .roadmap-ring{
        width: 100px !important;
        border-radius: 50%;
        background-color: $bgColor;
        border: 5px solid #B8860B;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .headind-exception{
        font-size: 48px !important;
        color: #B8860B;
    }

    .roadmap-item{
        margin-top: 48px;
        h4{
            margin-bottom: 24px;
            color: $primaryColor;
        }
        .roadmap-list{
            margin-bottom: 12px;
        }
        li{
            margin-bottom: 24px;
            display: flex;
            align-items: center;
            color: #fff;
            img{
                margin-right: 12px;
                padding: 8px;
                width: 35px !important;
            }
        }
    }
}


/*=========CHARACTER SECTION STYLING=======*/
.character-section{
    position: relative;
    margin-bottom: 48px;
    background: linear-gradient(180deg, #02010A 10%, rgba(0, 0, 0, 0.78) 28.12%, rgba(2, 1, 10, 0.03) 100%), url('../images/char-bg.png') no-repeat center;
    background-size: cover;
    max-width: 1200px;
    margin: auto;

    h2{
        text-align: center;
        font-weight: 600;
    }
    h2.font-exception{
        font-size: 36px;
    }
    .next, .prev{
        width: 40px;
        height: auto;
    }
}
.splide__arrow{
    background: unset !important;
    top: -11% !important;
}
.character-container{
    padding: 24px;
    .splide__slide__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    img{
        max-width: 500px;
        height: auto;
        object-fit: cover;
        object-position: center;
    }
    h2{
        margin-top: 24px;
        font-size: 48px;
        font-family: ViceCitySans !important;
        -webkit-text-stroke: 1px #C6A248;
        margin-bottom: 12px;
        margin-left: 8px;
    }
    h4{
        color: #fff;
        margin-top: -8px;
        font-family: $primaryFont;
    }
    ul.splide__pagination{
        display: none;
    }

    .character-details{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
}

@media (max-width: 600px){
    .splide__arrow{
        top: -9% !important;
    }
}

@media (max-width: 500px){
    .character-container{
        img{
            max-width: 300px;
            height: auto;
        }
    }
    .splide__arrow{
        top: -14% !important;
    }
}
/*=========END OF CHARACTER SECTION STYLING=======*/

.kinuverse-wrapper{
    background: rgb(112, 193, 240);
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .kinu-heading{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #fff;
        margin-top: 48px;
        h2, h4{
            color: #fff;
            // margin-bottom: 24px;
            font-weight: 500;
            text-shadow: -1px 2px 4px #1E8BC8;
        }
        h2{
            font-size: 48px;
        }
    }
    .kinu-verse{
        width: 100%;
        height: auto;
        position: relative;
        top: 20%;
        margin-top: 48px;
    }
}

@media(max-width: 600px){
    .kinuverse-wrapper{
        h2{
            font-size: 40px;
        }
        .kinu-verse{
            margin-top: 20%;
        }
    }
}



/*======FOOTER SECTION STYLING=====*/
footer{
    margin-top: 96px;
    height: 400px;
    position: relative;
}
.footer-container{
    display: flex;
    justify-content: center;
    .footer-content{
        flex: 1;
        padding: 24px;
        h4{
            font-family: $secondaryFont;
            text-transform: uppercase;
            margin-bottom: 24px;
        }
        li{
            margin-bottom: 12px;
            font-family: $primaryFont;
            a{
                transition: all 0.3s;
                &:hover{
                    color: $secondaryColor;
                    transition: all 0.3s;
                }
            }
        }
    }
    .footer-logo{
        width: 100%;
        min-width: 200px;
    }
}

@media only screen and (max-width: 780px){
    footer{
        height: auto;
    }
    .footer-container{
        flex-flow: row wrap;
        padding-left: 12px;
        padding-bottom: 12px;
    }
}
@media (max-width: 600px){
    .footer-container{
        flex-direction: column;
        .footer-content{
            width: 100%;
        }
    }
}
/*======END OF FOOTER SECTION STYLING=====*/


/*=======OVERVIEW PAGE STYLING======*/
.page-wrapper{
    padding: 0 36px;
    margin-top: 100px;
    max-width: 1500px;
}
@media only screen and (max-width: 700px) {
    .page-wrapper{
        padding: 0 24px;
    }
}
.overview-banner__container{
    width: 100%;
    height: 360px;
    background: linear-gradient(180deg rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/overview.png') no-repeat center;
    background-size: cover;
    margin-top: 60px;
    .details-container{
        display: flex;
        justify-content: center;
        h1{
            margin-top: 150px;
            font-weight: 700;
        }
    }
}


/*======TEAM WEBPAGE STYLING-======*/
.team-banner__container{
    width: 100%;
    height: 360px;
    background: url('../images/token-bg.png') no-repeat center;
    background-size: cover;
    .details-container{
        display: flex;
        justify-content: center;
        h1{
            margin-top: 150px;
            font-weight: 700;
        }
    }
}
.team-section{
    margin-bottom: 72px;
}


/*========GAMEPLAY WEBPAGE STYLING======*/
.game-overview__section{
    @include row-column;
    .description-container{
        @include column-description;
        h2{
            width: 80%;
            line-height: 1.2;
        }
        p{
            margin-bottom: 36px;
        }
    }
    .image-container{
        @include column-img;
        img{
            width: 100%;
            height: 400px;
            object-fit: cover;
            object-position: center;
        }
    }
}

@media only screen and (max-width: 700px){
	.game-overview__section{
        @include responsive;

        .description-container, .image-container{
            width: 100%;
            padding-right: unset;
        }
        .description-container h2{
            width: 100%;
        }
    }
}

/*-------PLAYER SECTION STYLING------*/
.player-section{
    margin-top: 96px;
    @include row-column;
        margin-top: 48px;
    .image-container{
        @include column-img;
        img{
            width: 100%;
            height: auto;
        }
    }
    .description-container{
        @include column-description;
        margin-left: 48px;
    }
}

@media only screen and (max-width: 700px){
	.player-section{
        flex-direction: column-reverse;
        width: 100%;
        margin-top: 24px;

        .description-container, .image-container{
            width: 100%;
            padding-right: unset;
        }
        .description-container{
            margin-top: 48px;
            margin-bottom: 24px;
            margin-left: unset;
        }

    }
    
}


/*-------development-section STYLING-----*/
.development-section{
    margin-top: 96px;
    padding: 0 24px;
    h2{
        text-align: center;
        margin-bottom: 12px;
    }
    p{
        margin-bottom: 24px;
    }
}


/*=======TOKEN METRICS WEBPAGE STYLING======*/
.token-banner__container{
    width: 100%;
    height: 360px;
    background: linear-gradient(180deg rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/token-bg.png') no-repeat center;
    background-size: cover;
    .details-container{
        display: flex;
        justify-content: center;
        h1{
            margin-top: 150px;
            text-align: center;
            font-weight: 700;
        }
    }
}

.token-section{
    margin-top: 72px 0;
    h2{
        text-align: center;
        margin-bottom: 24px;
        margin-top: 72px;
    }
}

.token-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
    .token-details{
        width: 50%;
        height: auto;
        border: 2px solid $borderColor;
        border-radius: 12px;
        padding: 12px;
        h4{
            text-align: center;
            @include h4Preset;
        }
        .token-paragraph{
            margin: 12px 0;
            text-align: center;
        }
        .detail{
            display: flex;
            // justify-content: center;
            border-bottom: 1px solid rgba(141, 110, 31, 0.3);
            margin-bottom: 12px;
            padding: 8px;
            .aside{
                margin-left: auto;
            }
        }
    }
}

.task-section{
    margin: 72px 0;
    h4{
        @include h4Preset;
    }
    p{
        margin-bottom: 24px;
    }
}
.task-item{
    margin-top: 12px;
    max-width: 800px;
    .task-list{
        margin-bottom: 12px;
    }
    li{
        margin-bottom: 24px;
        display: flex;
        align-items: center;
        color: #fff;
    }
    img{
        margin-right: 12px;
        padding: 8px;
        width: 35px !important;
    }
    a{
        word-break: break-all;
    }
}


@media only screen and (max-width: 860px){
    .token-wrapper{
        flex-direction: column;
        align-items: center;
        .token-details{
            width: 70%;
        }
    }
}

@media only screen and (max-width: 500px){
    .token-wrapper{
        .token-details{
            width: 100%;
        }
    }
}


/*========MANGA COMICS WEBPAGE STYLING=======*/
.manga-banner__container{
    width: 100%;
    height: 360px;
    background: linear-gradient(180deg rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/manga-bg.png') no-repeat center;
    background-size: cover;
    .details-container{
        display: flex;
        justify-content: center;
        padding: 0 12px;
        h1{
            margin-top: 145px;
            text-align: center;
            max-width: 600px;
            margin: 145px auto 0;
            line-height: 1.2;
            font-weight: 700;
        }
    }
}

.nft-section{
    margin-top: 72px;
    h2{
        text-transform: none;
        margin-bottom: 24px;
        max-width: 900px;
        line-height: 1.2;
    }

    p{
        margin-bottom: 24px;
    }
}

.task-item{
    .task-list{
        a{
            text-decoration: underline;
            color: $secondaryColor;
            transition: all 0.3s;
            &:hover{
                color: #018b85;
                transition: all 0.3s;
            }
        }
    }
    
}