@import "mixins";
@import "variables";

/*SASS mixins meida query can be included in a class name suing this:
li{
    @include mQ(600px){
        width: 100%;
    }
}*/

html {
    scroll-behavior: smooth;
}
@font-face{
	font-family: ViceCitySans;
	src:url(../fonts/ViceCitySans.otf);
}

/*General styling*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: $bgColor;
    max-width: 1440px;
    margin: auto;
    color: #fff;
    font-family: ViceCitySans;
  }
  
h1 {
    font-size: clamp(2rem, 3.5vw, 3.5rem);
}
  
h2 {
    font-size: clamp(1.72rem, 3vw, 2.5rem);
}
  
h4 {
    font-size: clamp(20px, 2.5vw, 24px);
}
h1, h2, h3{
    font-family: 'Reggae One', cursive;
    color: $primaryColor;
    -webkit-text-stroke: 0.1px $borderTextColor;
    text-transform: uppercase;
}
a{
    text-decoration: none;
    color: #fff;
}
.btn{
    padding: 15px 40px;
    // border-style: solid;
    // border-width: 2;
    // border-image: linear-gradient(45deg, rgba(255, 184, 0, 1), rgba(198, 162, 72, 1));
    border: 2px solid rgba(255, 184, 0, 1);
    border-radius: 24px 8px;
    background: linear-gradient(90deg, rgba(32, 191, 183, 0.2) 8%, rgba(191, 249, 146, 0.186) 58.79%, rgba(32, 191, 183, 0.2) 100%), #20BFB7;
    transition: 0.3s;
    height: 54px;
    width: auto;
}
p{
    font-size: 16px;
    color: $secondaryColor;
    line-height: 1.4;
}
li{
    list-style: none;
}
/*=======HEADER AND NAVBAR SECTION STYLING======*/
.token-address{
    width: 100%;
    padding: 24px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(68, 23, 1, 1);
    height: 24px;
    overflow: hidden;
}

/*========NAVIGATION STYLING========*/
/*========NAVIGATION STYLING========*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    position: fixed;
    z-index: 99999999;
    width: 100%;
    background: linear-gradient(180deg, #02010A 0%, rgba(2, 1, 10, 0.78) 28.12%, rgba(2, 1, 10, 0.03) 100%);
}
.nav-logo {
    color: #fff;
    font-size: 18px;
    color: $secondaryColor;
    font-family: 'Reggae One', cursive;
    -webkit-text-stroke: 0.1px $secondaryColor;
}
.hamburger{
    display: none;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Reggae One', cursive;
    margin-top: 12px;
}
.nav-item{
    margin-left: 3rem;
}
.nav-link{
    font-weight: 400;
    color: #fff;
    &:hover{
        color: $secondaryColor;
    }
}

@media only screen and (max-width: 1040px) {
    .navbar{
        background-color: $bgColor;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 99999999999;
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 2.8rem;
        flex-direction: column;
        background-color: $bgColor;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        z-index: 99999999999;
    }

    .nav-menu.active {
        left: 0;
        z-index: 99999999999;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
}

/*=======END OF NAVBAR STYLING======*/

/*=======HEADER SECTION STYLING======*/
.header-section{
    // background: transparent url('../images/background-new.png') no-repeat center;
    background-size: cover;
    max-width: 1440px;
    margin: auto;
    position: relative;
}

.details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 24px;
    position: absolute;
    top: 75%;

    .logo-text{
        max-width: 550px;
        height: auto;
        
    }
}
.parallax{
    position: relative;
    height: 80vh;
    background: transparent;
    width: 100%;
}

@media only screen and (max-width: 940px) {
    .hero-container{
        .logo-text{
            width: 90%;
        }
    }
}

@media (max-width: 375px) {
    .details-container {
        top: 80%;
    
        .logo-text{
            margin-top: 48px;
            max-width: 550px;
            height: auto;
            
        }
    }
}



@media only screen and (max-width: 600px) {
    .cta-container{
        .btn{
            padding: 10px 30px;
            height: 48px;
        }
    }
}

@media only screen and (max-width: 400px) {
    .hero-container{
        .logo-text{
            width: 90%;
        }
    }
}

/*=======END OF HEADER SECTION STYLING======*/

.cta-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2{
        margin-bottom: 24px;
    }
    .cta-links{
        display: flex;
        flex-direction: row;
        a{
            margin-right: 24px;
        }
    }
}


/*=========OVERVIEW-HOMEPAGE-SECTION=======*/
.overview-section{
    height: auto;
    // position: relative;
    &::before{
        content: '';
        background: linear-gradient(rgba(0, 0, 0, 0.699), rgba(8, 7, 19, 0.822)), url('../images/bg-2.jpg') no-repeat center;
        background-size: cover;
        position: absolute;
        height: 100%;
        top: 115%;
        left: 0;
        right: 0;
        z-index: -1;
        // bottom: 0;
    }
    
    .description-container{
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: 30%;
        width: 80%;
        margin: 30% auto 0;
        text-align: center;
        h2{
            margin-bottom: 24px;
            line-height: 1.2;
        }
        p{
            margin-bottom: 36px;
        }
        a.btn{
            width: max-content;
            margin: auto
        }
    }
    .image-container{
        background: url('../images/video-frame.png') no-repeat;
        background-size: contain;
        background-position: center;
        height: 450px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
        video{
            width: fit-content;
            max-height: 310px;
            border-radius: 12px;
            margin-bottom: 36px;
        }
    }
}
@media (max-width: 872px){
    .overview-section{ 
        .description-container{
            position: relative;
            margin: 43% auto 0;

        }
        .image-container{
            margin-top: 60px;
        }
    }
}
@media (max-width: 720px){
    .overview-section{ 
        .description-container{
            position: relative;
            margin: 50% auto 0;

        }
        .image-container{
            width: 80%;
            margin: auto;
            height: 450px;
            video{
                width: 80%;
                max-height: 310px;
                border-radius: 12px;
                margin-bottom: 36px;
            }
        }
    }
}
@media (max-width: 480px){
    .overview-section{
        &::before{
            top: 100%;
        }
        .description-container{
            position: relative;
            margin: 60% auto 0;

        }
        .image-container{
            margin-top: -36px;
        }
    }
}
@media (max-width: 375px){
    .overview-section{ 
        .description-container{
            position: relative;
            margin: 75% auto 0;
        }
        .image-container{
            width: 90%;
            margin: auto;
            margin-top: -60px;
            video{
                width: 90%;
            }
        }
    }
}
/*========END OF HOMEPAGE-OVERVIEW SECTION======*/


/*=========HOMEPAGE GAMEPLAY SECTION STYLING========*/
.gameplay-section{
    margin-top: 96px;
    h2{
        text-align: center;
    }
    .gameplay-wrapper{
        @include row-column;
        margin-top: 48px;
    }
    .image-container{
        @include column-img;
        img{
            width: 100%;
            height: auto;
            border-radius: 12px
        }
    }
    .description-container{
        @include column-description;
        margin-left: 48px;
        .btn{
            float: right;
        }
        .gameplay-item{
            display: flex;
            flex-direction: row;
            margin-bottom: 48px;
            width: 100%;
            .img-icon{
                width: 20%;
                height: auto;
                margin-right: 24px;
                img{
                    width: 80%;
                }
            }
            
            .text-description{
                display: flex;
                flex-direction: column;
                width: 80%;
            }
        }
        h4{
            text-transform: uppercase;
            line-height: 1.2;
            font-family: 'Reggae One', cursive;
            color: $primaryColor;
            margin-bottom: 12px;
        }
    }
}

@media only screen and (max-width: 900px){
	.gameplay-section{
        .description-container{
            .gameplay-item{
                .img-icon{
                    width: 30%;
                    height: auto;
                    margin-right: 12px;
                    img{
                        width: 100%;
                    }
                }
                
                .text-description{
                    width: 70%;
                }
            }
        }
    }
    
}
@media only screen and (max-width: 768px) {
    
}
@media only screen and (max-width: 700px){
	.gameplay-section{
        .gameplay-wrapper{
            @include responsive;
            margin-top: 24px;
    
            .description-container, .image-container{
                width: 100%;
                padding-right: unset;
            }
        }
        .description-container{
            margin-top: 48px;
            margin-left: unset;
            .gameplay-item{
                .img-icon{
                    width: 20%;
                    height: auto;
                    margin-right: 24px;
                }
            }
        }

    }
    
}


@media only screen and (max-width: 400px){
	.gameplay-section{
        margin-top: unset;
        .gameplay-wrapper{
            .gameplay-item{
                display: flex;
                flex-direction: column;
                width: 100%;
                .img-icon{
                    width: 30%;
                    height: auto;
                    margin-bottom: 12px;
                    img{
                        max-width: 80%;
                        height: auto;
                    }
                }
                
                .text-description{
                    width: 100%;
                }
            }
        }
    }
    
}
/*=========END OF HOMEPAGE GAMEPLAY SECTION STYLING========*/


/*==========ROAADMAP SECTION STYLING========*/
.roadmap-section{
    margin-top: 96px;
    padding: 0 15px;
    margin-bottom: 48px;
    h2{
        text-align: center;
        margin-bottom: 48px;
    }
}
.roadmap-container{
    width: 100%;
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
}
.owl-carousel .owl-item img{
    width: unset;
}
.roadmap-wrapper{
    max-width: 380px;
    height: auto;
    background-color: $bgColor;
    border: 1px solid $borderColor;
    border-radius: 12px;
    padding: 12px;
    .roadmap-number{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 24px 0;
    }
    img{
        width: 100px !important;
        height: auto;
    }

    .roadmap-item{
        margin-top: 48px;
        h4{
            margin-bottom: 24px;
            color: $primaryColor;
        }
        .roadmap-list{
            margin-bottom: 12px;
        }
        li{
            margin-bottom: 24px;
            display: flex;
            align-items: center;
            color: $secondaryColor;
            img{
                margin-right: 12px;
                padding: 8px;
                width: 35px !important;
            }
        }
    }
}
.kinuverse-section{
    padding: 0 15px;
}
.kinuverse-wrapper{
    background: url('../images/meta-bg.jpg') no-repeat center;
    height: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
        margin-bottom: 24px;
    }
}


/*======FOOTER SECTION STYLING=====*/
footer{
    margin-top: 96px;
    height: 400px;
    position: relative;
}
.footer-container{
    display: flex;
    justify-content: center;
    .footer-content{
        flex: 1;
        padding: 24px;
        h4{
            font-family: 'Reggae One', cursive;
            text-transform: uppercase;
            margin-bottom: 24px;
        }
        li{
            margin-bottom: 12px;
            a{
                transition: all 0.3s;
                &:hover{
                    color: $secondaryColor;
                    transition: all 0.3s;
                }
            }
        }
    }
    .footer-logo{
        width: 100%;
        min-width: 200px;
    }
}

@media only screen and (max-width: 780px){
    footer{
        height: auto;
    }
    .footer-container{
        flex-flow: row wrap;
        padding-left: 12px;
        padding-bottom: 12px;
        .footer-conten{
            flex: 0;
        }
    }
}



.character-section{
    position: relative;
    margin-bottom: 48px;

    h2{
        text-align: center;
        margin-bottom: 24px;
    }
    .next, .prev{
        width: 36px;
        height: auto;
    }
}
.splide__arrow{
    background: unset !important;
}
.character-container{
    padding: 24px;
    .splide__slide__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    img{
        width: 300px;
        height: auto;
        object-fit: cover;
        object-position: center;
    }
    h2{
        margin-top: 24px;
        font-size: 48px;
        font-size: ViceCitySans !important;
    }
    ul.splide__pagination{
        display: none;
    }
}




/*=======OVERVIEW PAGE STYLING======*/
.page-wrapper{
    padding: 0 36px;
    margin-top: 24px;
}
@media only screen and (max-width: 700px) {
    .page-wrapper{
        padding: 0 24px;
    }
}
.overview-banner__container{
    width: 100%;
    height: 360px;
    background: url('../images/overview-bg.png') no-repeat center;
    background-size: cover;
    .details-container{
        display: flex;
        justify-content: center;
        h1{
            margin-top: 150px;
        }
    }
}

/*------INTRO SECTION WRAPPER-----*/
.intro-section{
    margin-top: 72px;
    .wrapper{
        h2{
            margin-bottom: 12px;
        }
    }
}

/*------GAME DEVELOPMENT SECTION STYLING-----*/
.gameDev-section{
    margin: 72px 0;
    h2{
        margin-bottom: 12px;
    }
    p{
        margin-bottom: 24px;
    }
    .cta-gameplay{
        display: flex;
        justify-content: center;
        margin: 48px;
    }
}
.gameplay-item{
    margin-top: 12px;
    .gameplay-list{
        margin-bottom: 12px;
    }
    li{
        margin-bottom: 24px;
        display: flex;
        align-items: center;
        color: $secondaryColor;
        img{
            margin-right: 12px;
            padding: 8px;
            width: 35px !important;
        }
    }
}


/*======TEAM WEBPAGE STYLING-======*/
.team-banner__container{
    width: 100%;
    height: 360px;
    background: url('../images/token-bg.png') no-repeat center;
    background-size: cover;
    .details-container{
        display: flex;
        justify-content: center;
        h1{
            margin-top: 150px;
        }
    }
}
.team-section{
    margin-bottom: 72px;
}


/*========GAMEPLAY WEBPAGE STYLING======*/
.game-overview__section{
    @include row-column;
    .description-container{
        @include column-description;
        h2{
            width: 80%;
            line-height: 1.2;
        }
        p{
            margin-bottom: 36px;
        }
    }
    .image-container{
        @include column-img;
        img{
            width: 100%;
            height: 400px;
            object-fit: cover;
            object-position: center;
            border-radius: 12px;
        }
    }
}

@media only screen and (max-width: 700px){
	.game-overview__section{
        @include responsive;

        .description-container, .image-container{
            width: 100%;
            padding-right: unset;
        }
        .description-container h2{
            width: 100%;
        }
        .image-container{
            margin-top: 48px;
        }
    }
}

/*-------PLAYER SECTION STYLING------*/
.player-section{
    margin-top: 96px;
    @include row-column;
        margin-top: 48px;
    .image-container{
        @include column-img;
        img{
            width: 100%;
            height: auto;
            border-radius: 12px
        }
    }
    .description-container{
        @include column-description;
        margin-left: 48px;
    }
}

@media only screen and (max-width: 700px){
	.player-section{
        flex-direction: column-reverse;
        width: 100%;
        margin-top: 24px;

        .description-container, .image-container{
            width: 100%;
            padding-right: unset;
        }
        .description-container{
            margin-top: 48px;
            margin-bottom: 24px;
            margin-left: unset;
        }

    }
    
}


/*-------development-section STYLING-----*/
.development-section{
    margin-top: 96px;
    padding: 0 24px;
    h2{
        text-align: center;
        margin-bottom: 12px;
    }
    p{
        margin-bottom: 24px;
    }
}


/*=======TOKEN METRICS WEBPAGE STYLING======*/
.token-banner__container{
    width: 100%;
    height: 360px;
    background: url('../images/token-bg.png') no-repeat center;
    background-size: cover;
    .details-container{
        display: flex;
        justify-content: center;
        h1{
            margin-top: 150px;
            text-align: center;
        }
    }
}

.token-section{
    margin-top: 72px 0;
    h2{
        text-align: center;
        margin-bottom: 24px;
        margin-top: 72px;
    }
}

.token-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
    .token-details{
        width: 50%;
        height: auto;
        border: 2px solid $borderColor;
        border-radius: 12px;
        padding: 12px;
        h4{
            text-align: center;
            @include h4Preset;
        }
        .detail{
            display: flex;
            // justify-content: center;
            border-bottom: 1px solid #2E281C;
            margin-bottom: 12px;
            padding: 8px;
            .aside{
                margin-left: auto;
            }
        }
    }
}

.task-section{
    margin: 72px 0;
    h4{
        @include h4Preset;
    }
    p{
        margin-bottom: 24px;
    }
}
.task-item{
    margin-top: 12px;
    max-width: 800px;
    .task-list{
        margin-bottom: 12px;
    }
    li{
        margin-bottom: 24px;
        display: flex;
        align-items: center;
        color: $secondaryColor;
        img{
            margin-right: 12px;
            padding: 8px;
            width: 35px !important;
        }
    }
}


@media only screen and (max-width: 860px){
    .token-wrapper{
        flex-direction: column;
        align-items: center;
        .token-details{
            width: 70%;
        }
    }
}

@media only screen and (max-width: 500px){
    .token-wrapper{
        .token-details{
            width: 100%;
        }
    }
}


/*========MANGA COMICS WEBPAGE STYLING=======*/
.manga-banner__container{
    width: 100%;
    height: 360px;
    background: url('../images/manga-bg.png') no-repeat center;
    background-size: cover;
    .details-container{
        display: flex;
        justify-content: center;
        padding: 0 12px;
        h1{
            margin-top: 145px;
            text-align: center;
            max-width: 600px;
            margin: 145px auto 0;
            line-height: 1.2;
        }
    }
}

.nft-section{
    margin-top: 72px;
    h2{
        text-transform: none;
        margin-bottom: 24px;
        max-width: 900px;
        line-height: 1.2;
    }

    p{
        margin-bottom: 24px;
    }
}

.task-item{
    .task-list{
        a{
            text-decoration: underline;
            color: $secondaryColor;
            transition: all 0.3s;
            &:hover{
                color: #018b85;
                transition: all 0.3s;
            }
        }
    }
    
}