$bgColor: rgb(36, 27, 5);
$primaryColor: #FD5200;
$secondaryColor: #20BFB7;
$borderTextColor: #20BFB7;
$borderColor: #DD7B1E;
$accentColor: #8d6e1f;
$primaryFont: 'Cinzel', serif;
$secondaryFont: ViceCitySans;
$headingText: #342705;