/*SASS mixins meida query can be included in a class name suing this:
li{
    @include mQ(600px){
        width: 100%;
    }
}*/
html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: ViceCitySans;
  src: url(../fonts/ViceCitySans.otf);
}
@font-face {
  font-family: "Conthrax";
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/conthrax-sb.ttf);
}
/*General styling*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #241b05;
  margin: auto;
  color: #fff;
  font-family: ViceCitySans;
  width: 100%;
}

.alt-bg {
  background-color: #02010a;
}
.alt-bg .navbar {
  background-color: #02010a;
}

h1 {
  font-size: clamp(2rem, 3.5vw, 3.5rem);
}

h2 {
  font-size: clamp(1.72rem, 3vw, 2.5rem);
}

h4 {
  font-size: clamp(20px, 2.5vw, 24px);
}

h1, h2 {
  font-family: "Cinzel", serif;
  color: #FD5200;
  text-transform: uppercase;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #fff;
}

button {
  color: #fff;
}

.pointer-cursor {
  cursor: pointer;
}

.button-img {
  width: 220px;
  height: auto;
  position: relative;
  padding: 12px;
}

.button-text {
  position: absolute;
}

.heading-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heading-background {
  max-width: 400px;
  height: auto;
  position: relative;
  padding: 12px;
  color: #342705;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heading-text {
  position: absolute;
  color: #342705;
}

@media (max-width: 600px) {
  .heading-background {
    max-width: 250px;
    height: auto;
  }

  .heading-text {
    font-size: 24px;
  }
}
.btn {
  padding: 20px 40px;
  background: url("../images/button.png") no-repeat center;
  background-size: contain;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
}

.pushable {
  background: #1b3752;
  border: none;
  border-radius: 8px;
  padding: 0;
  cursor: pointer;
}

.pushable:hover .front {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

.pushable:active .front {
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px);
}

.front {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px 40px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: normal !important;
  background: linear-gradient(190deg, #00ffff 20%, #336699 100%);
  color: white;
  -webkit-transform: translateY(-6px);
  transform: translateY(-6px);
  will-change: transform;
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
  font-family: ViceCitySans;
  font-weight: 500;
}

.pushable:focus:not(:focus-visible) {
  outline: none;
}

p {
  font-size: 16px;
  color: #fff;
  line-height: 1.4;
  font-weight: 500;
}

li {
  list-style: none;
  font-size: 18px;
  color: #fff;
  line-height: 1.4;
  font-weight: 500;
}

.border-radius {
  border-radius: 12px;
}

.margin-center {
  max-width: 900px;
  margin: auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*=======HEADER AND NAVBAR SECTION STYLING======*/
.token-address {
  width: 100%;
  padding: 24px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #441701;
  height: 24px;
  overflow: hidden;
}

/*========NAVIGATION STYLING========*/
/*========NAVIGATION STYLING========*/
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.8rem 1.2rem;
  position: fixed;
  z-index: 99999999;
  width: 100%;
  top: 0;
  left: 0;
  font-family: inherit;
  background: #241b05;
}

.logo {
  width: 120px;
  height: auto;
  margin-top: 12px;
}

@media (max-width: 360px) {
  .logo {
    width: 80px;
  }
}
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Cinzel", serif;
  font-weight: normal;
  margin-top: 12px;
}

.nav-item {
  margin-left: 2rem;
}

.nav-link {
  color: #fff;
}
.nav-link:hover {
  color: #20BFB7;
}

@media only screen and (max-width: 1040px) {
  .navbar {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #02010A), color-stop(35%, rgba(2, 1, 10, 0.78)), to(rgba(2, 1, 10, 0.03)));
    background: linear-gradient(180deg, #02010A 10%, rgba(2, 1, 10, 0.78) 35%, rgba(2, 1, 10, 0.03) 100%);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999999999;
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 3.3rem;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #241b05;
    width: 100%;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
            box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 99999999999;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }

  .nav-menu.active {
    left: 0;
    z-index: 99999999999;
    height: 100vh;
    margin-top: -50px;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger img {
    width: 50px;
    height: auto;
  }

  .hamburger.active img {
    display: none;
  }

  .hamburger.active::after {
    content: url("../images/close-sm-btn.png");
    width: 20px;
    height: auto;
    position: relative;
    z-index: 9999999999999;
  }
}
/*=======END OF NAVBAR STYLING======*/
/*=======HEADER SECTION STYLING======*/
.header-section {
  background-size: cover;
  margin: auto;
  position: relative;
}

.available-img {
  width: 80%;
  margin: auto;
  margin-bottom: 48px;
  position: relative;
  z-index: 1;
}

.hero-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-top: 24px;
  position: absolute;
  top: 50%;
}
.hero-details .logo-text {
  max-width: 550px;
  height: auto;
}

.hero-img {
  position: relative;
  height: 50%;
  width: 100%;
}

img.mobile {
  display: none;
}

.cta-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 1;
}
.cta-container h2 {
  margin-bottom: 24px;
}
.cta-container .cta-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.cta-container .cta-links .cta-icon {
  font-size: 32px;
  margin-right: 12px;
}
.cta-container .cta-links button.exception {
  margin-right: 24px;
}

.fire-group img {
  height: 200px;
  width: auto;
  position: absolute;
}
.fire-group .left-fire {
  top: 70%;
  left: 10px;
}
.fire-group .right-fire {
  right: 1%;
  top: 60%;
}

@media (max-width: 1280px) {
  .fire-group img {
    height: 150px;
  }
  .fire-group .left-fire {
    top: 70%;
    left: 10px;
  }
  .fire-group .right-fire {
    right: 1%;
    top: 70%;
  }
}
@media only screen and (max-width: 940px) {
  .hero-img {
    height: 60%;
  }

  .fire-group img {
    height: 120px;
  }
  .fire-group .left-fire {
    top: 60%;
    left: 10px;
  }
  .fire-group .right-fire {
    right: 1%;
    top: 60%;
  }
}
@media (max-width: 850px) {
  .fire-group .left-fire {
    top: 50%;
    left: 10px;
  }
  .fire-group .right-fire {
    right: 1%;
    top: 45%;
  }
}
@media only screen and (max-width: 600px) {
  .cta-container .front {
    padding: 10px 30px;
    border-radius: 12px;
  }

  .fire-group img {
    height: 100px;
  }
  .fire-group .left-fire {
    top: 40%;
    left: 10px;
  }
  .fire-group .right-fire {
    right: 1%;
    top: 30%;
  }
}
@media (max-width: 550px) {
  img.desktop {
    display: none;
  }

  img.mobile {
    display: block;
  }

  .hero-details {
    top: 55%;
    padding: 12px;
  }
  .hero-details .available-img {
    width: 100%;
  }

  .fire-group img {
    height: 100px;
    width: auto;
    position: absolute;
  }
  .fire-group .left-fire {
    top: 50%;
    left: -40px;
  }
  .fire-group .right-fire {
    top: 40%;
  }
}
@media (max-width: 430px) {
  .cta-container .front {
    padding: 10px 20px;
  }

  .pushable, .front {
    border-radius: 8px;
  }
}
@media only screen and (max-width: 400px) {
  .available-img {
    width: 90%;
    margin-bottom: 24px;
  }

  .cta-container .cta-links .cta-icon {
    font-size: 24px;
  }
}
@media (max-width: 375px) {
  .cta-links .cta-icon {
    font-size: 24px;
    margin-right: 8px;
  }

  .fire-group .left-fire {
    top: 30%;
    left: -40px;
  }
  .fire-group .right-fire {
    top: 30%;
  }
}
/*=======END OF HEADER SECTION STYLING======*/
/*=========OVERVIEW-HOMEPAGE-SECTION=======*/
.overview-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px 24px;
  width: 100%;
  margin-top: 96px;
  margin-top: unset;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("../images/overview-bg.png") no-repeat center;
  background-size: cover;
  height: auto;
  padding: 24px;
}
.overview-section h2 {
  line-height: 1.2;
  margin-bottom: 24px;
}
.overview-section .description-container {
  padding-right: 24px;
}
.overview-section .description-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.overview-section .description-container .overview-intro-p {
  font-size: 24px;
  font-weight: 500;
  text-align: left;
}
.overview-section .description-container button {
  color: #fff;
  margin-top: 24px;
}
.overview-section .description-container .btn {
  background: url("../images/button-lg.png") no-repeat center;
  background-size: contain;
}
.overview-section .image-container {
  width: 50%;
}
.overview-section .image-container h2 {
  position: relative;
  text-align: center;
  color: #342705;
  top: 20%;
}
.overview-section .image-container .video-container {
  background: url("../images/video-frame.png") no-repeat center;
  background-size: contain;
  width: 100%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.overview-section .image-container video {
  width: 65%;
  margin-top: 12px;
  margin-left: 12px;
}

.floating {
  -webkit-animation: floating 3s ease-in-out infinite;
          animation: floating 3s ease-in-out infinite;
}

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  50% {
    -webkit-transform: translate(0, 15px);
            transform: translate(0, 15px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@keyframes floating {
  0% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  50% {
    -webkit-transform: translate(0, 15px);
            transform: translate(0, 15px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}
.overview-modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  padding-bottom: 12px;
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modal-wrapper {
  background: #222;
  padding: 24px;
  max-width: 700px;
  height: auto;
  margin: auto;
}
.modal-wrapper header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal-wrapper .heading-background {
  max-width: 300px;
}
.modal-wrapper .heading-text {
  font-family: ViceCitySans;
  text-transform: none;
  color: #342705;
  margin-top: 24px;
}
.modal-wrapper .close img {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 30px;
  height: auto;
  margin-left: 60px;
  cursor: pointer;
}
.modal-wrapper .close img:hover, .modal-wrapper .close img:focus {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.modal-wrapper .overview-main h4 {
  color: #20BFB7;
  font-size: 24px;
  margin-bottom: 12px;
  margin-top: 36px;
}
.modal-wrapper .overview-main p {
  font-family: "Cinzel", serif;
  font-size: 14px;
  margin-bottom: 24px;
}
.modal-wrapper .gameplay-potential {
  font-family: "Cinzel", serif;
  font-size: 14px;
  font-weight: 600;
}
.modal-wrapper .gameplay-potential div {
  padding: 12px;
}
.modal-wrapper .gameplay-potential .potential-list {
  background-color: #fff;
  margin-bottom: 24px;
}
.modal-wrapper .gameplay-potential .upper {
  color: #000;
}
.modal-wrapper .gameplay-potential .lower {
  background-color: #FD5200;
}

@media (min-width: 1600px) {
  .overview-section .image-container .video-container {
    height: 700px;
  }
  .overview-section .image-container video {
    margin-top: 24px;
  }
}
@media (min-width: 1770px) {
  .overview-section .image-container h2 {
    top: 15%;
  }
}
@media (min-width: 1280px) {
  .overview-section .description-container .overview-intro-p {
    font-size: 28px;
  }
}
@media only screen and (max-width: 800px) {
  .overview-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin-top: unset;
    padding: unset;
  }
  .overview-section .description-container, .overview-section .image-container {
    width: 100%;
    padding-right: unset;
  }
  .overview-section .description-container {
    margin-top: 48px;
    margin-left: unset;
    padding: 24px;
  }
  .overview-section .description-container a {
    margin-bottom: 24px;
  }
  .overview-section .image-container {
    width: 100%;
    margin: auto;
    height: 450px;
  }
  .overview-section .image-container video {
    max-height: 310px;
  }
}
@media (max-width: 750px) {
  .modal-wrapper {
    width: 70%;
  }
  .modal-wrapper .close img {
    margin-left: 55px;
  }
}
@media (max-width: 600px) {
  .modal-wrapper {
    width: 80%;
  }
  .modal-wrapper .heading-background {
    max-width: 200px;
  }
}
@media (max-width: 550px) {
  .overview-section .description-container .overview-intro-p {
    font-size: 18px;
    line-height: 1.2;
  }
  .overview-section .image-container h2 {
    top: 25%;
  }
  .overview-section .image-container .video-container {
    background-size: 120%;
    width: 100%;
    height: 500px;
  }
  .overview-section .image-container video {
    width: 80%;
    margin-top: 12px;
    margin-left: 12px;
  }
}
@media (max-width: 450px) {
  .overview-section .image-container h2 {
    top: 30%;
  }
}
@media (max-width: 430px) {
  .modal-wrapper {
    width: 90%;
  }
  .modal-wrapper .close img {
    margin-left: 20px;
  }
}
@media (max-width: 400px) {
  .overview-section .image-container h2 {
    top: 35%;
  }
}
/*========END OF HOMEPAGE-OVERVIEW SECTION======*/
/*=========HOMEPAGE GAMEPLAY SECTION STYLING========*/
.gameplay-section {
  margin-top: 96px;
}
.gameplay-section h2 {
  text-align: center;
}
.gameplay-section a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 48px;
}

.gameplay-wrapper {
  margin-top: 48px;
}
.gameplay-wrapper .container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 24px;
  place-items: center;
  padding: 12px;
}
.gameplay-wrapper .margin-bottom {
  margin-bottom: 24px;
}

.gameplay-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: radial-gradient(63.26% 63.26% at 50% 48.78%, rgba(184, 134, 11, 0.3) 0%, rgba(52, 39, 5, 0.3) 100%);
  border: 2px solid #DD7B1E;
  border-radius: 24px;
  max-width: 350px;
  padding: 12px;
  height: 480px;
  text-align: center;
}
.gameplay-item .img-icon {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 24px;
}
.gameplay-item img.gif-img {
  width: 50%;
  height: auto;
}
.gameplay-item img.kinu-img {
  width: 60%;
  height: auto;
}
.gameplay-item .gif-background {
  background: url("../images/paper-bg.png") no-repeat center;
  background-size: contain;
  height: auto;
}
.gameplay-item .text-description {
  padding: 24px;
}
.gameplay-item h4 {
  margin-bottom: 12px;
  line-height: 1.2;
  font-family: ViceCitySans;
  color: #fff;
  font-size: 32px;
}
.gameplay-item p {
  font-family: "Cinzel", serif;
}
.gameplay-item h4, .gameplay-item p {
  text-align: left;
}

@media (min-width: 1600px) {
  .gameplay-item {
    max-width: 440px;
  }
}
@media only screen and (max-width: 600px) {
  .gameplay-wraper .front {
    padding: 15px 30px;
    border-radius: 8px;
  }
}
/*=========END OF HOMEPAGE GAMEPLAY SECTION STYLING========*/
/*==========ROAADMAP SECTION STYLING========*/
.roadmap-section {
  margin-top: 96px;
  padding: 0 15px;
  margin-bottom: 48px;
}
.roadmap-section h2 {
  text-align: center;
}

.roadmap-container {
  /* The actual timeline (the vertical ruler) */
  /* The actual timeline (the vertical ruler) */
  /* Container around content */
  /* The circles on the timeline */
  /* Place the container to the left */
  /* Place the container to the right */
  /* Add arrows to the left container (pointing right) */
  /* Add arrows to the right container (pointing left) */
  /* Fix the circle for containers on the right side */
  /* The actual content */
}
.roadmap-container .timeline {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
}
.roadmap-container .timeline::after {
  content: "";
  position: absolute;
  width: 2px;
  background-color: #DD7B1E;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}
.roadmap-container .container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}
.roadmap-container .container::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  right: -12px;
  background-color: #8d6e1f;
  border: 4px solid #B8860B;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}
.roadmap-container .left {
  left: 0;
}
.roadmap-container .right {
  left: 50%;
}
.roadmap-container .left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid #DD7B1E;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #DD7B1E;
}
.roadmap-container .right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #DD7B1E;
  border-width: 10px 10px 10px 0;
  border-color: transparent #DD7B1E transparent transparent;
}
.roadmap-container .right::after {
  left: -16px;
}
.roadmap-container .item {
  position: relative;
}

@media screen and (max-width: 600px) {
  .roadmap-container {
    /* Place the timelime to the left */
    /* Full-width containers */
    /* Make sure that all arrows are pointing leftwards */
    /* Make sure all circles are at the same spot */
    /* Make all right containers behave like the left ones */
  }
  .roadmap-container .timeline::after {
    left: 31px;
  }
  .roadmap-container .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  .roadmap-container .container::before {
    left: 60px;
    border: medium solid #DD7B1E;
    border-width: 10px 10px 10px 0;
    border-color: transparent #DD7B1E transparent transparent;
  }
  .roadmap-container .left::after, .roadmap-container .right::after {
    left: 15px;
  }
  .roadmap-container .right {
    left: 0%;
  }
}
@media (max-width: 360px) {
  .timeline::after {
    display: none;
  }

  .container::after {
    display: none;
  }

  .roadmap-container .container {
    padding: unset;
  }
  .roadmap-container .left::before, .roadmap-container .right::before {
    display: none;
  }

  .item {
    margin-top: 24px;
  }
}
.roadmap-wrapper {
  max-width: 380px;
  height: auto;
  background-color: #241b05;
  border: 1px solid #DD7B1E;
  border-radius: 12px;
  padding: 12px;
}
.roadmap-wrapper .roadmap-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 24px 0;
}
.roadmap-wrapper .roadmap-ring {
  width: 100px !important;
  border-radius: 50%;
  background-color: #241b05;
  border: 5px solid #B8860B;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.roadmap-wrapper .headind-exception {
  font-size: 48px !important;
  color: #B8860B;
}
.roadmap-wrapper .roadmap-item {
  margin-top: 48px;
}
.roadmap-wrapper .roadmap-item h4 {
  margin-bottom: 24px;
  color: #FD5200;
}
.roadmap-wrapper .roadmap-item .roadmap-list {
  margin-bottom: 12px;
}
.roadmap-wrapper .roadmap-item li {
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}
.roadmap-wrapper .roadmap-item li img {
  margin-right: 12px;
  padding: 8px;
  width: 35px !important;
}

/*=========CHARACTER SECTION STYLING=======*/
.character-section {
  position: relative;
  margin-bottom: 48px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #02010A), color-stop(28.12%, rgba(0, 0, 0, 0.78)), to(rgba(2, 1, 10, 0.03))), url("../images/char-bg.png") no-repeat center;
  background: linear-gradient(180deg, #02010A 10%, rgba(0, 0, 0, 0.78) 28.12%, rgba(2, 1, 10, 0.03) 100%), url("../images/char-bg.png") no-repeat center;
  background-size: cover;
  max-width: 1200px;
  margin: auto;
}
.character-section h2 {
  text-align: center;
  font-weight: 600;
}
.character-section h2.font-exception {
  font-size: 36px;
}
.character-section .next, .character-section .prev {
  width: 40px;
  height: auto;
}

.splide__arrow {
  background: unset !important;
  top: -11% !important;
}

.character-container {
  padding: 24px;
}
.character-container .splide__slide__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.character-container img {
  max-width: 500px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.character-container h2 {
  margin-top: 24px;
  font-size: 48px;
  font-family: ViceCitySans !important;
  -webkit-text-stroke: 1px #C6A248;
  margin-bottom: 12px;
  margin-left: 8px;
}
.character-container h4 {
  color: #fff;
  margin-top: -8px;
  font-family: "Cinzel", serif;
}
.character-container ul.splide__pagination {
  display: none;
}
.character-container .character-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 600px) {
  .splide__arrow {
    top: -9% !important;
  }
}
@media (max-width: 500px) {
  .character-container img {
    max-width: 300px;
    height: auto;
  }

  .splide__arrow {
    top: -14% !important;
  }
}
/*=========END OF CHARACTER SECTION STYLING=======*/
.kinuverse-section {
  margin-top: 48px;
  padding: 0 24px;
}
.kinuverse-section .margin-top {
  margin-top: 96px;
}
.kinuverse-section .kinuplanet-details {
  text-align: center;
  font-family: "Cinzel", serif;
  line-height: 1.3;
  font-size: 20px;
  max-width: 1100px;
  margin-top: 36px;
}

.kinuverse-wrapper {
  background: #70c1f0;
  height: auto;
  width: 100%;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.kinuverse-wrapper .kinu-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  margin-top: 48px;
}
.kinuverse-wrapper .kinu-heading h2, .kinuverse-wrapper .kinu-heading h4 {
  color: #fff;
  font-weight: 500;
  text-shadow: -1px 2px 4px #1E8BC8;
}
.kinuverse-wrapper .kinu-heading h2 {
  font-size: 48px;
}
.kinuverse-wrapper .kinu-verse {
  width: 100%;
  height: auto;
  position: relative;
  top: 20%;
  margin-top: 48px;
}

@media (max-width: 600px) {
  .kinuverse-wrapper h2 {
    font-size: 40px;
  }
  .kinuverse-wrapper .kinu-verse {
    margin-top: 20%;
  }
}
/*======FOOTER SECTION STYLING=====*/
footer {
  margin-top: 96px;
  height: 400px;
  position: relative;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer-container .footer-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 24px;
}
.footer-container .footer-content h4 {
  font-family: ViceCitySans;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.footer-container .footer-content li {
  margin-bottom: 12px;
  font-family: "Cinzel", serif;
}
.footer-container .footer-content li a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.footer-container .footer-content li a:hover {
  color: #20BFB7;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.footer-container .footer-logo {
  width: 100%;
  min-width: 200px;
}

@media only screen and (max-width: 780px) {
  footer {
    height: auto;
  }

  .footer-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    padding-left: 12px;
    padding-bottom: 12px;
  }
}
@media (max-width: 600px) {
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-container .footer-content {
    width: 100%;
  }
}
/*======END OF FOOTER SECTION STYLING=====*/
/*=======OVERVIEW PAGE STYLING======*/
.page-wrapper {
  padding: 0 36px;
  margin-top: 100px;
  max-width: 1500px;
  margin: auto;
}
.page-wrapper h2 {
  font-family: viceCitySans;
  color: #20BFB7;
  font-weight: 700;
  text-transform: capitalize;
}
.page-wrapper p {
  font-family: "Cinzel", serif;
}

@media only screen and (max-width: 700px) {
  .page-wrapper {
    padding: 0 24px;
  }
}
.overview-banner__container {
  width: 100%;
  height: 360px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4))), url("../images/overview.png") no-repeat center;
  background: linear-gradient(180deg rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/overview.png") no-repeat center;
  background-size: cover;
  margin-top: 8rem;
}
.overview-banner__container .details-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.overview-banner__container .details-container h1 {
  margin-top: 150px;
  font-weight: 700;
}

/*======TEAM WEBPAGE STYLING-======*/
.team-banner__container {
  width: 100%;
  height: 360px;
  background: url("../images/token-bg.png") no-repeat center;
  background-size: cover;
}
.team-banner__container .details-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.team-banner__container .details-container h1 {
  margin-top: 150px;
  font-weight: 700;
}

.team-section {
  margin-bottom: 72px;
}

/*========GAMEPLAY WEBPAGE STYLING======*/
.game-overview__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px 24px;
  width: 100%;
  margin-top: 96px;
}
.game-overview__section h2 {
  line-height: 1.2;
  margin-bottom: 24px;
}
.game-overview__section .description-container {
  padding-right: 24px;
}
.game-overview__section .description-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}
.game-overview__section .description-container h2 {
  width: 80%;
  line-height: 1.2;
}
.game-overview__section .description-container p {
  margin-bottom: 36px;
}
.game-overview__section .image-container {
  width: 50%;
}
.game-overview__section .image-container img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media only screen and (max-width: 700px) {
  .game-overview__section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .game-overview__section .description-container, .game-overview__section .image-container {
    width: 100%;
    padding-right: unset;
  }
  .game-overview__section .description-container h2 {
    width: 100%;
  }
}
/*-------PLAYER SECTION STYLING------*/
.player-section {
  margin-top: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px 24px;
  width: 100%;
  margin-top: 96px;
  margin-top: 48px;
}
.player-section h2 {
  line-height: 1.2;
  margin-bottom: 24px;
}
.player-section .description-container {
  padding-right: 24px;
}
.player-section .image-container {
  width: 50%;
}
.player-section .image-container img {
  width: 100%;
  height: auto;
}
.player-section .description-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  margin-left: 48px;
}

@media only screen and (max-width: 700px) {
  .player-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 100%;
    margin-top: 24px;
  }
  .player-section .description-container, .player-section .image-container {
    width: 100%;
    padding-right: unset;
  }
  .player-section .description-container {
    margin-top: 48px;
    margin-bottom: 24px;
    margin-left: unset;
  }
}
/*-------development-section STYLING-----*/
.development-section {
  margin-top: 96px;
  padding: 0 24px;
}
.development-section h2 {
  text-align: center;
  margin-bottom: 12px;
}
.development-section p {
  margin-bottom: 24px;
}

/*=======TOKEN METRICS WEBPAGE STYLING======*/
.token-banner__container {
  width: 100%;
  height: 360px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6))), url("../images/token-bg.png") no-repeat center;
  background: linear-gradient(180deg rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/token-bg.png") no-repeat center;
  background-size: cover;
  margin-top: 8rem;
}
.token-banner__container .details-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.token-banner__container .details-container h1 {
  margin-top: 150px;
  text-align: center;
  font-weight: 700;
}

.token-section {
  margin-top: 72px 0;
}
.token-section h2 {
  text-align: center;
  margin-bottom: 24px;
  margin-top: 72px;
}

.token-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
}
.token-wrapper .token-details {
  width: 50%;
  height: auto;
  border: 2px solid #DD7B1E;
  border-radius: 12px;
  padding: 12px;
}
.token-wrapper .token-details h4 {
  text-align: center;
  margin-bottom: 12px;
  font-family: "Rubik", sans-serif;
  color: #FD5200;
}
.token-wrapper .token-details .token-paragraph {
  margin: 12px 0;
  text-align: center;
}
.token-wrapper .token-details .detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid rgba(141, 110, 31, 0.3);
  margin-bottom: 12px;
  padding: 8px;
}
.token-wrapper .token-details .detail .aside {
  margin-left: auto;
}

.task-section {
  margin: 72px 0;
}
.task-section h4 {
  margin-bottom: 12px;
  font-family: "Rubik", sans-serif;
  color: #FD5200;
}
.task-section p {
  margin-bottom: 24px;
}

.task-item {
  margin-top: 12px;
  max-width: 800px;
}
.task-item .task-list {
  margin-bottom: 12px;
}
.task-item li {
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-family: "Cinzel", serif;
}
.task-item img {
  margin-right: 12px;
  padding: 8px;
  width: 35px !important;
}
.task-item a {
  word-break: break-all;
}

.token-task-item {
  font-family: "Cinzel", serif;
  max-width: 900px;
  font-weight: 600;
}
.token-task-item div {
  padding: 12px;
}
.token-task-item .token-task-list {
  background-color: #fff;
  margin-bottom: 24px;
}
.token-task-item .upper {
  color: #000;
}
.token-task-item .lower {
  background-color: #FD5200;
}

@media only screen and (max-width: 860px) {
  .token-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .token-wrapper .token-details {
    width: 70%;
  }
}
@media only screen and (max-width: 500px) {
  .token-wrapper .token-details {
    width: 100%;
  }
}
/*========MANGA COMICS WEBPAGE STYLING=======*/
.manga-banner__container {
  width: 100%;
  height: 360px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6))), url("../images/manga-bg.png") no-repeat center;
  background: linear-gradient(180deg rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/manga-bg.png") no-repeat center;
  background-size: cover;
  margin-top: 8rem;
}
.manga-banner__container .details-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 12px;
}
.manga-banner__container .details-container h1 {
  margin-top: 145px;
  text-align: center;
  max-width: 600px;
  margin: 145px auto 0;
  line-height: 1.2;
  font-weight: 700;
}

.nft-section {
  margin-top: 72px;
}
.nft-section h2 {
  text-transform: none;
  margin-bottom: 24px;
  max-width: 900px;
  line-height: 1.2;
}
.nft-section p {
  margin-bottom: 24px;
}

.task-item .task-list a {
  text-decoration: underline;
  color: #20BFB7;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.task-item .task-list a:hover {
  color: #018b85;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}