/*SASS mixins meida query can be included in a class name suing this:
li{
    @include mQ(600px){
        width: 100%;
    }
}*/
html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: ViceCitySans;
  src: url(../fonts/ViceCitySans.otf);
}
@font-face {
  font-family: "Conthrax";
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/conthrax-sb.ttf);
}
/*General styling*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #02010a;
  max-width: 1440px;
  margin: auto;
  color: #fff;
  font-family: "Rubik", sans-serif;
}

h1 {
  font-size: clamp(2rem, 3.5vw, 3.5rem);
}

h2 {
  font-size: clamp(1.72rem, 3vw, 2.5rem);
}

h4 {
  font-size: clamp(20px, 2.5vw, 24px);
}

h1, h2, h3 {
  font-family: "Cinzel", serif;
  color: #FD5200;
  -webkit-text-stroke: 0.1px #FFB800;
  text-transform: uppercase;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #fff;
}

.btn {
  padding: 15px 40px;
  border: 2px solid #ffb800;
  border-radius: 24px 8px;
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, rgba(32, 191, 183, 0.2)), color-stop(58.79%, rgba(191, 249, 146, 0.186)), to(rgba(32, 191, 183, 0.2))), #20BFB7;
  background: linear-gradient(90deg, rgba(32, 191, 183, 0.2) 8%, rgba(191, 249, 146, 0.186) 58.79%, rgba(32, 191, 183, 0.2) 100%), #20BFB7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 54px;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pushable {
  background: #1b3752;
  border: none;
  border-radius: 8px;
  padding: 0;
  cursor: pointer;
}

.pushable:hover .front {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.pushable:active .front {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.front {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 40px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: normal !important;
  background: linear-gradient(190deg, #00ffff 20%, #336699 100%);
  color: white;
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
  will-change: transform;
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

.pushable:focus:not(:focus-visible) {
  outline: none;
}

p {
  font-size: 18px;
  color: #fff;
  line-height: 1.4;
  font-weight: 500;
}

li {
  list-style: none;
  font-size: 18px;
  color: #fff;
  line-height: 1.4;
  font-weight: 500;
}

/*=======HEADER AND NAVBAR SECTION STYLING======*/
.token-address {
  width: 100%;
  padding: 24px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #441701;
  height: 24px;
  overflow: hidden;
}

/*========NAVIGATION STYLING========*/
/*========NAVIGATION STYLING========*/
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 1.5rem;
  position: fixed;
  z-index: 99999999;
  width: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#02010A), color-stop(28.12%, rgba(2, 1, 10, 0.78)), to(rgba(2, 1, 10, 0.03)));
  background: linear-gradient(180deg, #02010A 0%, rgba(2, 1, 10, 0.78) 28.12%, rgba(2, 1, 10, 0.03) 100%);
}

.logo {
  width: 80px;
  height: auto;
  margin-top: 12px;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Cinzel", serif;
  font-weight: normal;
  margin-top: 12px;
}

.nav-item {
  margin-left: 3rem;
}

.nav-link {
  font-weight: 400;
  color: #fff;
}
.nav-link:hover {
  color: #20BFB7;
}

.nav-cta {
  margin-top: 12px;
}

@media only screen and (max-width: 1040px) {
  .navbar {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #02010A), color-stop(28.12%, rgba(2, 1, 10, 0.78)), to(rgba(2, 1, 10, 0.03)));
    background: linear-gradient(180deg, #02010A 10%, rgba(2, 1, 10, 0.78) 28.12%, rgba(2, 1, 10, 0.03) 100%);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999999999;
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 3.3rem;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #02010a;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
            box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 99999999999;
  }

  .nav-menu.active {
    left: 0;
    z-index: 99999999999;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
}
/*=======END OF NAVBAR STYLING======*/
/*=======HEADER SECTION STYLING======*/
.header-section {
  background-size: cover;
  max-width: 1440px;
  margin: auto;
  position: relative;
}

.available-img {
  width: 80%;
  margin: auto;
  margin-bottom: 48px;
}

.hero-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-top: 24px;
  position: absolute;
  top: 50%;
}
.hero-details .logo-text {
  max-width: 550px;
  height: auto;
}

.hero-img {
  position: relative;
  height: 50%;
  margin-top: 20px;
  width: 100vw;
}

.cta-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.cta-container h2 {
  margin-bottom: 24px;
}
.cta-container .cta-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.cta-container .cta-links .cta-icon {
  font-size: 32px;
  margin-right: 12px;
}
.cta-container .cta-links button.exception {
  margin-right: 24px;
}

@media (max-width: 1040px) {
  .hero-img {
    margin-top: 20%;
  }
}
@media only screen and (max-width: 940px) {
  .hero-img {
    height: 60%;
  }
}
@media (max-width: 375px) {
  .hero-details {
    top: 40%;
  }

  .cta-links .cta-icon {
    font-size: 24px;
    margin-right: 8px;
  }
}
@media only screen and (max-width: 600px) {
  .cta-container .btn {
    padding: 10px 30px;
    height: 48px;
  }

  .front {
    padding: 10px 30px;
    border-radius: 12px;
  }
}
@media (max-width: 430px) {
  .front {
    padding: 10px 20px;
  }
}
@media only screen and (max-width: 400px) {
  .available-img {
    width: 90%;
    margin-bottom: 24px;
  }

  .cta-container .cta-links .cta-icon {
    font-size: 24px;
  }
}
/*=======END OF HEADER SECTION STYLING======*/
/*=========OVERVIEW-HOMEPAGE-SECTION=======*/
/*========END OF HOMEPAGE-OVERVIEW SECTION======*/
.overview-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px 24px;
  width: 100%;
  margin-top: 96px;
  margin-top: unset;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("../images/overview-bg.png") no-repeat center;
  background-size: cover;
  height: auto;
  padding: 24px;
}
.overview-section h2 {
  line-height: 1.2;
  margin-bottom: 24px;
}
.overview-section .description-container {
  padding-right: 24px;
}
.overview-section .description-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  margin-right: 48px;
  background-color: rgba(2, 1, 10, 0.8);
  position: relative;
  padding-right: unset;
  height: auto;
  -webkit-clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%, 0 10%);
          clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%, 0 10%);
}
.overview-section .description-container .overview-text {
  background-color: #20BFB7;
  padding: 12px;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.overview-section .description-container .overview-text .pre-h2 {
  font-family: "Conthrax", sans-serif;
  position: absolute;
  top: 15px;
  background: unset;
  color: rgba(2, 1, 10, 0.37);
  -webkit-text-fill-color: unset;
  margin-left: 2px;
}
.overview-section .description-container .overview-text .initial-h2 {
  font-family: "Conthrax", sans-serif;
  background: linear-gradient(9deg, aqua 7%, white 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: unset;
  position: relative;
  z-index: 1;
}
.overview-section .description-container .explainer-paragraph {
  padding: 12px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.overview-section .description-container p {
  margin-bottom: 24px;
  font-weight: 400;
  text-align: center;
}
.overview-section .description-container .front {
  padding: 15px 30px;
}
.overview-section .image-container {
  background: url("../images/video-frame.png") no-repeat;
  background-size: contain;
  background-position: center;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
}
.overview-section .image-container video {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-height: 340px;
  border-radius: 12px;
  margin-bottom: 36px;
}

@media only screen and (max-width: 700px) {
  .overview-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin-top: 12px;
  }
  .overview-section .description-container, .overview-section .image-container {
    width: 100%;
    padding-right: unset;
  }
  .overview-section .description-container {
    margin-top: 48px;
    margin-left: unset;
  }
  .overview-section .description-container a {
    margin-bottom: 24px;
  }
  .overview-section .image-container {
    width: 100%;
    margin: auto;
    height: 450px;
  }
  .overview-section .image-container video {
    width: 90%;
    max-height: 310px;
    border-radius: 12px;
  }
}
@media (max-width: 470px) {
  .overview-section .description-container .overview-text {
    padding: 24px;
  }
  .overview-section .description-container .overview-text .pre-h2 {
    top: 26px;
  }
}
/*=========HOMEPAGE GAMEPLAY SECTION STYLING========*/
.gameplay-section {
  margin-top: 96px;
}
.gameplay-section h2 {
  text-align: center;
}
.gameplay-section .gameplay-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px 24px;
  width: 100%;
  margin-top: 96px;
  margin-top: 48px;
}
.gameplay-section .gameplay-wrapper h2 {
  line-height: 1.2;
  margin-bottom: 24px;
}
.gameplay-section .gameplay-wrapper .description-container {
  padding-right: 24px;
}
.gameplay-section .image-container {
  border-radius: 12px;
  width: 50%;
}
.gameplay-section .image-container img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}
.gameplay-section .description-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  margin-left: 48px;
}
.gameplay-section .description-container .gameplay-btn {
  float: right;
}
.gameplay-section .description-container .gameplay-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 48px;
  width: 100%;
}
.gameplay-section .description-container .gameplay-item .img-icon {
  width: 20%;
  height: auto;
  margin-right: 24px;
}
.gameplay-section .description-container .gameplay-item .img-icon img {
  width: 80%;
}
.gameplay-section .description-container .gameplay-item .text-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
}
.gameplay-section .description-container h4 {
  text-transform: uppercase;
  line-height: 1.2;
  font-family: "Cinzel", serif;
  color: #FD5200;
  margin-bottom: 12px;
}

@media only screen and (max-width: 900px) {
  .gameplay-section .description-container .gameplay-item .img-icon {
    width: 30%;
    height: auto;
    margin-right: 12px;
  }
  .gameplay-section .description-container .gameplay-item .img-icon img {
    width: 100%;
  }
  .gameplay-section .description-container .gameplay-item .text-description {
    width: 70%;
  }
}
@media only screen and (max-width: 700px) {
  .gameplay-section .gameplay-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin-top: 24px;
  }
  .gameplay-section .gameplay-wrapper .description-container, .gameplay-section .gameplay-wrapper .image-container {
    width: 100%;
    padding-right: unset;
  }
  .gameplay-section .description-container {
    margin-top: 48px;
    margin-left: unset;
  }
  .gameplay-section .description-container .gameplay-item .img-icon {
    width: 20%;
    height: auto;
    margin-right: 24px;
  }
}
@media only screen and (max-width: 400px) {
  .gameplay-section .description-container .gameplay-btn {
    float: unset;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .gameplay-section .description-container .front-padding {
    padding: 15px 30px;
  }
  .gameplay-section .gameplay-wrapper .gameplay-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    text-align: center;
  }
  .gameplay-section .gameplay-wrapper .gameplay-item .img-icon {
    width: 30%;
    height: auto;
    margin-bottom: 12px;
  }
  .gameplay-section .gameplay-wrapper .gameplay-item .img-icon img {
    max-width: 80%;
    height: auto;
  }
  .gameplay-section .gameplay-wrapper .gameplay-item .text-description {
    width: 100%;
  }
}
/*=========END OF HOMEPAGE GAMEPLAY SECTION STYLING========*/
/*==========ROAADMAP SECTION STYLING========*/
.roadmap-section {
  margin-top: 96px;
  padding: 0 15px;
  margin-bottom: 48px;
}
.roadmap-section h2 {
  text-align: center;
  margin-bottom: 48px;
}

.roadmap-container {
  /* The actual timeline (the vertical ruler) */
  /* The actual timeline (the vertical ruler) */
  /* Container around content */
  /* The circles on the timeline */
  /* Place the container to the left */
  /* Place the container to the right */
  /* Add arrows to the left container (pointing right) */
  /* Add arrows to the right container (pointing left) */
  /* Fix the circle for containers on the right side */
  /* The actual content */
}
.roadmap-container .timeline {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
}
.roadmap-container .timeline::after {
  content: "";
  position: absolute;
  width: 2px;
  background-color: #c6a248;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}
.roadmap-container .container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}
.roadmap-container .container::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  right: -12px;
  background-color: #20BFB7;
  border: 4px solid #327572;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}
.roadmap-container .left {
  left: 0;
}
.roadmap-container .right {
  left: 50%;
}
.roadmap-container .left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid #c6a248;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #c6a248;
}
.roadmap-container .right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #c6a248;
  border-width: 10px 10px 10px 0;
  border-color: transparent #c6a248 transparent transparent;
}
.roadmap-container .right::after {
  left: -16px;
}
.roadmap-container .item {
  position: relative;
}

@media screen and (max-width: 600px) {
  .roadmap-container {
    /* Place the timelime to the left */
    /* Full-width containers */
    /* Make sure that all arrows are pointing leftwards */
    /* Make sure all circles are at the same spot */
    /* Make all right containers behave like the left ones */
  }
  .roadmap-container .timeline::after {
    left: 31px;
  }
  .roadmap-container .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  .roadmap-container .container::before {
    left: 60px;
    border: medium solid #c6a248;
    border-width: 10px 10px 10px 0;
    border-color: transparent #c6a248 transparent transparent;
  }
  .roadmap-container .left::after, .roadmap-container .right::after {
    left: 15px;
  }
  .roadmap-container .right {
    left: 0%;
  }
}
.roadmap-wrapper {
  max-width: 380px;
  height: auto;
  background-color: #02010a;
  border: 1px solid #c6a248;
  border-radius: 12px;
  padding: 12px;
}
.roadmap-wrapper .roadmap-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 24px 0;
}
.roadmap-wrapper img {
  width: 100px !important;
  height: auto;
}
.roadmap-wrapper .roadmap-item {
  margin-top: 48px;
}
.roadmap-wrapper .roadmap-item h4 {
  margin-bottom: 24px;
  color: #FD5200;
}
.roadmap-wrapper .roadmap-item .roadmap-list {
  margin-bottom: 12px;
}
.roadmap-wrapper .roadmap-item li {
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}
.roadmap-wrapper .roadmap-item li img {
  margin-right: 12px;
  padding: 8px;
  width: 35px !important;
}

.kinuverse-section {
  padding: 0 15px;
}

.kinuverse-wrapper {
  background: url("../images/meta-bg.jpg") no-repeat center;
  height: 350px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.kinuverse-wrapper h2 {
  margin-bottom: 24px;
}

/*======FOOTER SECTION STYLING=====*/
footer {
  margin-top: 96px;
  height: 400px;
  position: relative;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer-container .footer-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 24px;
}
.footer-container .footer-content h4 {
  font-family: "Cinzel", serif;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.footer-container .footer-content li {
  margin-bottom: 12px;
}
.footer-container .footer-content li a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.footer-container .footer-content li a:hover {
  color: #20BFB7;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.footer-container .footer-logo {
  width: 100%;
  min-width: 200px;
}

@media only screen and (max-width: 780px) {
  footer {
    height: auto;
  }

  .footer-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    padding-left: 12px;
    padding-bottom: 12px;
  }
  .footer-container .footer-conten {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
}
.character-section {
  position: relative;
  margin-bottom: 48px;
}
.character-section h2 {
  text-align: center;
  margin-bottom: 24px;
}
.character-section .next, .character-section .prev {
  width: 36px;
  height: auto;
}

.splide__arrow {
  background: unset !important;
}

.character-container {
  padding: 24px;
}
.character-container .splide__slide__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.character-container img {
  max-width: 500px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.character-container h2 {
  margin-top: 24px;
  font-size: 48px;
  font-size: ViceCitySans !important;
}
.character-container h4 {
  color: #20BFB7;
  margin-top: -8px;
}
.character-container ul.splide__pagination {
  display: none;
}

@media (max-width: 500px) {
  .character-container img {
    max-width: 300px;
    height: auto;
  }
}
/*=======OVERVIEW PAGE STYLING======*/
.page-wrapper {
  padding: 0 36px;
  margin-top: 60px;
}

@media only screen and (max-width: 700px) {
  .page-wrapper {
    padding: 0 24px;
  }
}
.overview-banner__container {
  width: 100%;
  height: 360px;
  background: url("../images/overview-bg.png") no-repeat center;
  background-size: cover;
}
.overview-banner__container .details-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.overview-banner__container .details-container h1 {
  margin-top: 150px;
}

/*------INTRO SECTION WRAPPER-----*/
.intro-section {
  margin-top: 72px;
}
.intro-section .wrapper h2 {
  margin-bottom: 12px;
}

/*------GAME DEVELOPMENT SECTION STYLING-----*/
.gameDev-section {
  margin: 72px 0;
}
.gameDev-section h2 {
  margin-bottom: 12px;
}
.gameDev-section p {
  margin-bottom: 24px;
}
.gameDev-section .cta-gameplay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 48px;
}

.gameplay-item {
  margin-top: 12px;
}
.gameplay-item .gameplay-list {
  margin-bottom: 12px;
}
.gameplay-item li {
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}
.gameplay-item li img {
  margin-right: 12px;
  padding: 8px;
  width: 35px !important;
}

/*======TEAM WEBPAGE STYLING-======*/
.team-banner__container {
  width: 100%;
  height: 360px;
  background: url("../images/token-bg.png") no-repeat center;
  background-size: cover;
}
.team-banner__container .details-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.team-banner__container .details-container h1 {
  margin-top: 150px;
}

.team-section {
  margin-bottom: 72px;
}

/*========GAMEPLAY WEBPAGE STYLING======*/
.game-overview__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px 24px;
  width: 100%;
  margin-top: 96px;
}
.game-overview__section h2 {
  line-height: 1.2;
  margin-bottom: 24px;
}
.game-overview__section .description-container {
  padding-right: 24px;
}
.game-overview__section .description-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}
.game-overview__section .description-container h2 {
  width: 80%;
  line-height: 1.2;
}
.game-overview__section .description-container p {
  margin-bottom: 36px;
}
.game-overview__section .image-container {
  width: 50%;
}
.game-overview__section .image-container img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 12px;
}

@media only screen and (max-width: 700px) {
  .game-overview__section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .game-overview__section .description-container, .game-overview__section .image-container {
    width: 100%;
    padding-right: unset;
  }
  .game-overview__section .description-container h2 {
    width: 100%;
  }
  .game-overview__section .image-container {
    margin-top: 48px;
  }
}
/*-------PLAYER SECTION STYLING------*/
.player-section {
  margin-top: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px 24px;
  width: 100%;
  margin-top: 96px;
  margin-top: 48px;
}
.player-section h2 {
  line-height: 1.2;
  margin-bottom: 24px;
}
.player-section .description-container {
  padding-right: 24px;
}
.player-section .image-container {
  width: 50%;
}
.player-section .image-container img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}
.player-section .description-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  margin-left: 48px;
}

@media only screen and (max-width: 700px) {
  .player-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 100%;
    margin-top: 24px;
  }
  .player-section .description-container, .player-section .image-container {
    width: 100%;
    padding-right: unset;
  }
  .player-section .description-container {
    margin-top: 48px;
    margin-bottom: 24px;
    margin-left: unset;
  }
}
/*-------development-section STYLING-----*/
.development-section {
  margin-top: 96px;
  padding: 0 24px;
}
.development-section h2 {
  text-align: center;
  margin-bottom: 12px;
}
.development-section p {
  margin-bottom: 24px;
}

/*=======TOKEN METRICS WEBPAGE STYLING======*/
.token-banner__container {
  width: 100%;
  height: 360px;
  background: url("../images/token-bg.png") no-repeat center;
  background-size: cover;
}
.token-banner__container .details-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.token-banner__container .details-container h1 {
  margin-top: 150px;
  text-align: center;
}

.token-section {
  margin-top: 72px 0;
}
.token-section h2 {
  text-align: center;
  margin-bottom: 24px;
  margin-top: 72px;
}

.token-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
}
.token-wrapper .token-details {
  width: 50%;
  height: auto;
  border: 2px solid #c6a248;
  border-radius: 12px;
  padding: 12px;
}
.token-wrapper .token-details h4 {
  text-align: center;
  margin-bottom: 12px;
  font-family: "Reggae One", cursive;
  color: #FD5200;
}
.token-wrapper .token-details .detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #2E281C;
  margin-bottom: 12px;
  padding: 8px;
}
.token-wrapper .token-details .detail .aside {
  margin-left: auto;
}

.task-section {
  margin: 72px 0;
}
.task-section h4 {
  margin-bottom: 12px;
  font-family: "Reggae One", cursive;
  color: #FD5200;
}
.task-section p {
  margin-bottom: 24px;
}

.task-item {
  margin-top: 12px;
  max-width: 800px;
}
.task-item .task-list {
  margin-bottom: 12px;
}
.task-item li {
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}
.task-item li img {
  margin-right: 12px;
  padding: 8px;
  width: 35px !important;
}

@media only screen and (max-width: 860px) {
  .token-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .token-wrapper .token-details {
    width: 70%;
  }
}
@media only screen and (max-width: 500px) {
  .token-wrapper .token-details {
    width: 100%;
  }
}
/*========MANGA COMICS WEBPAGE STYLING=======*/
.manga-banner__container {
  width: 100%;
  height: 360px;
  background: url("../images/manga-bg.png") no-repeat center;
  background-size: cover;
}
.manga-banner__container .details-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 12px;
}
.manga-banner__container .details-container h1 {
  margin-top: 145px;
  text-align: center;
  max-width: 600px;
  margin: 145px auto 0;
  line-height: 1.2;
}

.nft-section {
  margin-top: 72px;
}
.nft-section h2 {
  text-transform: none;
  margin-bottom: 24px;
  max-width: 900px;
  line-height: 1.2;
}
.nft-section p {
  margin-bottom: 24px;
}

.task-item .task-list a {
  text-decoration: underline;
  color: #20BFB7;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.task-item .task-list a:hover {
  color: #018b85;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}